[2015-04-16 23:54] HubHubHubber opened #1 "Outlook-style Replies"
Looking forward to finally being able to easily get Outlook-style replies in Thunderbird and Postbox. Hopefully we'll be able to also finally get rid of the vertical nesting lines, too! ;)

[2015-04-18 07:25] jeevatkm commented on #1
Sure, I will implement 'Handling blockquote (vertical lines)'. However moving into separate enhancement request #2

[2015-04-18 07:27] jeevatkm opened #2 "Cleanup blockquotes colors"
This was requested as part initial request #1. But I'm taking it as separate enhancement request.

[2015-04-18 18:39] HubHubHubber commented on #1
Hi Jeeva,

I just want to thank you again for taking the time to create this add-on for Thunderbird and Postbox.

I really, really appreciate all your time and effort.

Best,

Jake

On Apr 18, 2015, at 12:25 AM, Jeevanandam M. <notifications@github.com> wrote:

Sure, I will implement 'Handling blockquote (vertical lines)'. However moving into separate enhancement request #2

—
Reply to this email

[2015-05-20 21:51] jeevatkm commented on #1
It's done

[2015-05-20 21:51] #1 closed

[2015-05-20 22:00] HubHubHubber commented on #1
Cool! Thank you.

Would you like me to notify Postbox or wait until you have the version which removes the block quotes?

On May 20, 2015, at 2:51 PM, Jeevanandam M. <notifications@github.com> wrote:

It's done

—
Reply to this email directly or view it on GitHub.

[2015-05-20 22:05] jeevatkm commented on #1
Add-on is ready to use, please explore prefs options and share your feedback.

I would like to sort out the issue you're facing in your machine then you can notify Postbox. Please not to wait for block quotes. That feature will be available in v1.1

[2015-05-22 00:08] jeevatkm opened #3 "Cleanup '>' in a plain text mail"
Cleanup '>' in a plain text mail

[2015-05-23 23:32] jeevatkm commented on #2
Done!

[2015-05-23 23:32] #2 closed

[2015-05-23 23:33] jeevatkm commented on #3
Done!

[2015-05-23 23:33] #3 closed

[2015-05-28 19:36] jeevatkm opened #4 "Address Resend and Redirect issue for Postbox"
Support for Resend and Redirect functionality with RWH.

[2015-05-31 20:06] jeevatkm commented on #4
Done

[2015-05-31 20:06] #4 closed

[2015-07-20 04:32] jeevatkm opened #5 "Bring Date & Time variation for header"
Currently Add-on does:
<pre>Sent: Sunday, Jul 19, 2015 at 17:06:23 GMT-07:00</pre>

Bring following formats:
* 12 Hour local time
* 24 Hour local time
* International time (Already supported by add-on)

[2015-08-14 07:14] jeevatkm commented on #5
New outcome, due to limitation.
<pre>For locale date format(s):
    Friday, Jul 31, 2015, 5:41:00 AM PDT

For International date format(s):
    Friday, Jul 31, 2015, 12:41:00 PM GMT</pre>

[2015-08-22 06:46] jeevatkm commented on #5
done, awaiting for user feedback!

[2015-09-21 17:31] jeevatkm opened #6 "Address AMO review comments"
More info: https://addons.mozilla.org/en-US/developers/addon/replywithheader/versions/1703264

[2015-10-19 19:12] jeevatkm commented on #6
done

[2015-10-19 19:13] jeevatkm commented on #5
released!

[2015-10-19 19:13] #5 closed

[2015-10-19 19:13] #6 closed

[2016-01-26 22:17] jeevatkm opened #7 "Problems with special characters in names in ReplyWithHeader"
Hi Jeevanandam,

I'm using Thunderbird 38.5.1 under Windows10 and your add-on
ReplyWithHeader 1.3.

My family name is "Däuble", so it contains the special character ä (an a
with two dots on top) as the 2nd character. I know that special
characters often can cause problems in data processing.

While using ReplyWithHeader I noticed a strange phenomenon:
when replying to an email I got from my brothe

[2016-01-28 16:21] rostafiychuk opened #8 "Doesn't work with most emails received from Thunderbird users"
Error: ReferenceError: assignment to undeclared variable eml
Source File: chrome://replywithheader/content/rwh.js
Line: 336

[2016-01-28 17:45] jeevatkm commented on #8
Thanks for reporting an issue. Can you please also share thunderbird version and OS details?

[2016-01-29 09:29] rostafiychuk commented on #8
Thunderbird 38.5.1
Linux Mint 17.3 (4.2.0-25-generic)

To reproduce this try to set:
Header 'From': Outlook Extended
Header 'To': Outlook
Header quoting: Outlook

I've changed "Header 'To'" to Default to avoid this issue.

[2016-01-29 09:51] rostafiychuk opened #9 "Don't cleanup quotation added by previous senders"
It can be optional, but we shouldn't delete old quotation. We should delete added by Thunderbird during composing new email.

ReFwdFormatter does it better now.

[2016-01-29 14:48] rostafiychuk commented on #9
Blockquotes can be fixed with:
[code]

[2016-01-29 15:07] presidentio commented on #9
This functionality will be useful for me too

[2016-01-31 18:48] jeevatkm commented on #9
I will make it optional and user will have an options in the preference to choose. BTW are you interested in sending in PR for this?

[2016-01-31 18:48] jeevatkm commented on #8
Thanks for details, Once done I will let you know.

[2016-02-01 16:18] rostafiychuk commented on #9
Please review my pull request.

[2016-02-05 20:56] mariobig opened #11 "Problem with signature"
Your extension for Thunderbird is nice and practical. Unfortunately it removes my signature from frowarded mails. It would be usefull once it it is localized for other languages.

[2016-02-05 21:03] jeevatkm commented on #11
Thanks, I will fix the signature issue in next release v1.4.

For other languages, I will work on v1.5 release. Might need help on translation though for headers. Do you have any specific locale in your mind?

[2016-02-05 21:07] mariobig commented on #11
Thanks for very quick reply. I thought about Polish headers.

[2016-02-05 21:16] jeevatkm commented on #11
Okay, I will have a look on thunderbird internals for locale and let you know. Can you please create an issue for locale support, so we can track that separately?
[code]

[2016-02-05 21:26] mariobig opened #12 "Locale support"
ReplyWithHeaderMozilla would require localization for other languages, specifically for Polish pl_PL.

[2016-02-06 03:52] jeevatkm opened #13 "RWH Add-on improvements"
**Received from user:**

To summarise the issues / needs:

- When replying/forwarding some messages (especially those sent from Outlook), there is no header information shown above the original message being forwarded/replied to.  It would be good if the plugin could include the standard header information (as shown above your message below) on all emails.

- When forwarding messages, it would be

[2016-02-06 18:00] jeevatkm commented on #8
I don't have linux VM. I have tired in windows and Mac OS X. Not able to reproduce with above setting.

However, I have updated logic around it. Please give a try (http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi) and let me know.

If possible, help me with internal error info. Choose an email which caused an issue and keep a tap on debug window capture issue. Thanks.

[2016-02-06 18:19] jeevatkm commented on #9
It is merged and I have share download link in other issue you have reported to collect more info. Thanks.

[2016-02-06 20:28] jeevatkm commented on #11
Signature issue is related with #13 too.

[2016-02-07 18:53] jeevatkm commented on #13
Header prefix handle for thunderbird and postbox. option given is `Misc` Tab.

[2016-02-07 21:44] rostafiychuk commented on #8
@jeevatkm
Thanks, now it works great.

I checked on Windows and it fails with 1.3 too. To reproduce this with old version you can try to send email to:
[code]

[2016-02-07 21:50] rostafiychuk opened #14 ""Manage headers" tab looks weird on Windows and Linux"
![header-win](https://cloud.githubusercontent.com/assets/5871345/12875526/5a29ffae-cdf5-11e5-84e1-b8510a270606.png)

I think it's better to delete this negative margin-top:
[code]

Other tabs are fine.

[2016-02-07 22:44] jeevatkm commented on #8
@rostafiychuk Thanks.  I'm glad it works in v1.4-beta. I will try to reproduce with v1.3 for my understanding.

[2016-02-08 21:11] jeevatkm commented on #7
Found the problem, looking way to address that.

[2016-02-08 21:14] jeevatkm commented on #14
It's Done.

[2016-02-08 21:14] #14 closed

[2016-02-08 21:18] jeevatkm commented on #11
I have addressed the Signature handling part. Can you please try v1.4-beta and share your feedback?

http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi

[2016-02-08 21:32] jeevatkm commented on #13
It's done!

[2016-02-08 21:32] #13 closed

[2016-02-08 21:33] jeevatkm commented on #9
PR merged, will be release as part of v1.4 :)

[2016-02-08 21:33] #9 closed

[2016-02-09 09:00] mariobig commented on #11
It works well now and the signature hasn't been removed. (checked on Mac OS X, not checked on Windows)

I would add one more option for this very useful add-on: either 12H or 24H time notation.

[2016-02-09 15:14] jeevatkm commented on #11
Glad to hear. Please create an issue for 12H or 24H time notation.

[2016-02-11 19:41] jeevatkm commented on #8
@rostafiychuk I'm able to reproduce. Problem is for loop doesn't have `var or let` for variable at line # 336 in v1.3.

I'm closing this one. Please let me know, if you come across any issues or improvements.

[2016-02-11 19:41] #8 closed

[2016-02-11 19:47] jeevatkm opened #15 "Add option for 12 hours and 24 hours time format"
This enhancement was originated form #11.

[2016-02-11 19:47] jeevatkm commented on #11
Created #15 for time format.

[2016-02-11 21:29] jeevatkm commented on #15
It's done.

[2016-02-11 21:29] #15 closed

[2016-02-12 01:15] jeevatkm commented on #7
It's done

[2016-02-12 01:15] #7 closed

[2016-02-12 01:16] jeevatkm commented on #11
@mariobig please take latest v1.4-beta version. It includes 12H or 24H notation too. Give a try and please let me know.

[2016-02-12 01:16] #11 closed

[2016-02-12 01:30] jeevatkm commented on #14
@rostafiychuk I have addressed other alignment (font size, before separator) issues for Windows. Also introduced 12H or 24H time format and non-english characters handling for header `Cc`.

Can you please try latest v1.4-beta and share your feedback?
http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi

[2016-02-12 09:01] mariobig commented on #11
I tested it on my MAC Book. It works well and 12H/24H notation is available. The only thing I would reconsider is the time precision. Do you really want to specify seconds? I haven't seen  such a precision in other mail clients.

[2016-02-12 09:26] rostafiychuk opened #16 "Regression with signature in 1.4-beta"
with 1.3:
![screenshot from 2016-02-12 11 21 55](https://cloud.githubusercontent.com/assets/5871345/13002969/49342e7a-d17b-11e5-8ca0-c7b60a2393ec.png)

with 1.4-beta:
![screenshot from 2016-02-12 11 23 02](https://cloud.githubusercontent.com/assets/5871345/13002971/51825980-d17b-11e5-88ca-2146c6d23c0a.png)

I have to delete this gap every time.

[2016-02-12 09:26] rostafiychuk commented on #14
Preferences looks fine on Windows and Linux, but there is regression with signature #16

[2016-02-12 19:26] jeevatkm commented on #11
Thanks for sharing your view. I just a had a look on other mail clients. I will exclude seconds before the v1.4 release.

[2016-02-25 20:36] ndanieley opened #17 "proposed enhancement for RWH in thunderbird"
it would be very nice to have the ability to change the color and density of the 'thin blue separator' line.

[2016-02-25 21:13] jeevatkm commented on #17
Thanks, you can expect in v1.4 release.

[2016-02-26 00:53] jeevatkm commented on #17
I have implemented this functionality.  Can you please try this v1.4-beta and share your feedback?

http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi

[2016-02-26 14:22] ndanieley commented on #17
that's just what we wanted! my user is very happy. of course, your prompt and very helpful response leads us to another request: could we have an option to include space below the separator!

[2016-02-26 19:00] jeevatkm commented on #17
I'm glad you like it.  "could we have an option to include space below the separator!"

It is already present, please use it.
<img width="402" alt="header-line-spaces" src="https://cloud.githubusercontent.com/assets/1175977/13362235/ead3304e-dc77-11e5-8922-498fa184229a.png">

*If you get a chance, please add your review comment for this feature :)*

[2016-02-26 19:59] ndanieley commented on #17
oh, sorry, I was looking for 'after separator'. 'before header' works just fine! thanks so much!

[2016-02-28 16:00] jeevatkm commented on #17
It's done :)

[2016-02-28 16:00] #17 closed

[2016-02-28 16:51] jeevatkm commented on #16
Just wanna to check with you. Do you have any value assigned here (this is default values)?

<img width="407" alt="header-line-space" src="https://cloud.githubusercontent.com/assets/1175977/13380441/50ed584c-ddf8-11e5-9be9-8c1b49708d59.png">

[2016-02-28 19:09] rostafiychuk commented on #16
I have these default values. I tried to change "Before separator" to any number and always get one extra. Now I checked it on Windows and behavior is the same.

[2016-02-28 19:12] rostafiychuk commented on #16
I have one older beta 1.4 from http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi downloaded on Feb 7 and it works fine with older one.

[2016-02-28 19:40] jeevatkm commented on #16
Thanks for the inputs. I'm currently working on it.

[2016-03-06 23:58] jeevatkm commented on #16
It's done!

[2016-03-06 23:58] #16 closed

[2016-03-11 09:17] rostafiychuk commented on #16
Thanks! Latest beta works fine.
@jeevatkm are you going to publish new release soon?

[2016-03-11 15:55] jeevatkm commented on #16
Thanks @rostafiychuk. It might go to next week, since I'm awaiting feedback from couple of users.

[2016-03-16 17:01] jeevatkm opened #18 "Take care Quoted Shifting in the email"
Hi Jeeva,

This is Rudolf from Slovakia. I am using TB (38.6.0) for a years. Few years ago, due to compatibility with most of colleagues who are working with Outlook, I started to use few Add-ons (SmartTemplate4 and QuoteAndComposeManager) - they work well, however I have still an issue with them.

Any email I am replying to, TB adds kind of quote character (>) - however this hiding is not visible

[2016-04-06 14:54] rostafiychuk commented on #16
Do somebody find any new problem in 1.4 beta?

[2016-04-06 15:02] jeevatkm commented on #16
Yes, user reported an issue for Postbox client.

[2016-05-16 10:39] mariobig commented on #11
Hello Jeevanandam,

Unfortunately you nice plugin to Thunderbird doesn't work properly after
TB upgrade to version 45.1.0.
It doesn't attach header in case of mails forwarding.

Do you still work on plugin development? I would be very interested in
its new version that fixes bugs.

Kind regards,

Mariusz Bielawski

wawaSOFT
	wawaSOFT INFO ,
mobile: +48 601 606 941
email: info@wawasoft.com
web: pl.

[2016-05-16 19:48] rostafiychuk commented on #16
I there any progress on it? I didn't find any new open issue there.

[2016-05-16 20:17] jeevatkm commented on #16
Yes, no open issue :) Currently I'm working on AMO review comments.

[2016-05-16 20:20] jeevatkm commented on #11
Yes, plugin is actively maintained. I will have a look on issue you have mentioned.

Can you please create an new issue for TB v45.1.0 forward issue? if possible please add details whatever you can for tracing an issue.

[2016-05-16 20:31] mariobig opened #19 "TB ver. 45.1.0 forward issue"
Hi,

RWH plugin doesn't work properly with new version of Thunderbird v45.1.0. It doesn't attach header to forwarded mails. It works properly with replies.

[2016-05-16 20:32] jeevatkm commented on #19
Thanks, I will have a look after work.

[2016-05-16 20:33] mariobig commented on #19
Many thanks.

Mariusz

wawaSOFT
	wawaSOFT INFO ,
mobile: +48 601 606 941
email: info@wawasoft.com
web: pl.wawasoft.com <http://pl.wawasoft.com>

Ta wiadomość została podpisana cyfrowo zgodnie ze standardem S/MIME.
Tożsamość autora potwierdzona jest cyfrowym certyfikatem wystawionym
przez zaufany urząd certyfikacji.
This message has been signed digitally in compliance with S/MIME
standard. Identity

[2016-05-18 04:03] jeevatkm commented on #19
I have just installed `45.1.0` on my macbook pro and installed RWH v1.3. It seems to working. I need your help to nail down the forward problem. Can you please provide additional information?

Enabling debug mode in v1.3 (in v1.4 it will be handy via About tab in the add-on preferences)
* `Preferences -> Advanced Tab -> click Config Editor`
* Click `I'll be careful, I promise!` button
* Look for `

[2016-05-18 06:16] jeevatkm commented on #19
If you don't mind, can you please try this RWH v1.4-beta and share your feedback?

http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v1.4-beta.xpi

[2016-05-18 08:07] mariobig commented on #19
1. Following your instruction I am attaching printscreen with detected error:
![error_rwh](https://cloud.githubusercontent.com/assets/15660503/15351230/912395b4-1cde-11e6-9439-7bb65aeccf88.jpg)

2. I installed RWHv1.4-beta you published today and TB works correctly. See printscreen:
![frwd_after](https://cloud.githubusercontent.com/assets/15660503/15351593/46e5b048-1ce0-11e6-93fc-e2163a484863.jpg)

[2016-05-18 10:39] mariobig commented on #19
I was too quick. RWH extension still doesn't work properly. It randomly attach original or redefined header. It happens in case of forwarded mails only. In addition it removes signature in some cases. It occurs in almost all mails created in TB and then forwarded somewhere else.

[2016-05-18 17:06] jeevatkm commented on #19
Yes, I have updated the v1.4-beta after February. That's why I have shared latest one.

Thanks for sharing error info, I will have a look. Also could you please guide me to replicate the issue for "It occurs in almost all mails created in TB and then forwarded somewhere else." so I can address it before the release.

[2016-05-18 19:34] jeevatkm commented on #19
@mariobig - I have addressed the issue you have pointed out via screenshot. Can you please download it again and verify it?

[2016-05-27 03:08] jeevatkm commented on #19
@mariobig - did you get a chance verify?

[2016-07-08 19:28] #19 closed

[2016-07-08 20:43] jeevatkm commented on #16
@rostafiychuk I have finally submitted `v1.4` addon to AMO, its pending for review. Sorry for delay.

[2016-08-10 04:45] surph opened #22 "Locale date abbr"
excellent work!!

there is bug when selecting Header date format >Locale date format; the abbreviation for zone appears  wrong.
in my case instead of PKT it is showing PST
Please fix

Thanks

[2016-09-23 05:34] DanHardiman opened #23 "5.2 beta installation issue"
I know we had issues before with my username having a space in it "danhardiman 1".
If I use "Install-or-Upgrade-or-Reenable.command" then I get the following in Terminal:
--------------------------------------------------
Last login: Thu Sep 22 12:06:44 on console
Dan-Laptop:~ danhardiman$ /Users/danhardiman\ 1/INSTALLERS\ EMAIL/ReplyWithHeader-v5.2-beta/Install-or-Upgrade-or-Reenable.command ; ex

[2016-09-23 15:16] jeevatkm commented on #22
Sure I will have a look. Thanks for reporting.

Can you please post sample?

[2016-09-23 16:38] jeevatkm commented on #23
Issue created at wrong repo. Closing it.

[2016-09-23 16:38] #23 closed

[2017-05-01 21:22] jeevatkm opened #24 "Fix Thunderbird 52.x and above"
Seems like Thunderbird 52.x and above removed the `mail.compose.max_recycled_windows` preference.

Add check and fix it.

[2017-05-04 01:24] jeevatkm commented on #22
@surph As I'm working on to add support for latest thunderbird release. I have verified the code. I'm not doing explicit timezone name compose.

I need your help diagnose the issue.

[2017-05-04 01:24] jeevatkm commented on #24
Done

[2017-05-04 01:24] #24 closed

[2017-05-25 07:10] sean-newman opened #25 "Reply not showing signature in RWH 1.5 in Postbox 5.0.14"
Hi Jeevanandam,

First up - thanks for doing this add-on. I'm trying to ditch Outlook on my Mac but need to keep the standard look and feel in replies and conversations with the rest of the company - RWH is so close to getting me there!

I'm using RWH 1.5 in PostBox 5.0.14, and I need to have my email signature above the previous emails. This is not working when I hit Reply or Reply All.

The sign

[2017-05-27 01:34] jeevatkm commented on #25
@sean-newman I will analyze and get back to you. Sure, I will take your help during a testing.

[2017-06-07 19:23] jeevatkm commented on #25
@sean-newman Sorry for the late response. I got occupied with my [aah framework v0.6 release](https://aahframework.org)

I have downloaded the Postbox v5.0.14 and tested with RWH `v1.5`. It is working as expected.

Added new signature and Only settings I did is:

Preferences -> Accounts -> (select your email account) -> Composition -> `place my signature below the reply (above the quote)`

<img wi

[2017-06-08 00:53] sean-newman commented on #25
@jeevatkm: That's strange - you're using the same versions as me but mine doesn't show the signature at all for Reply and Reply All, and shows the signature plus the ---original message--- straight after it.

Here are the screens for my settings both in Postbox and in RWH:

_Postbox_
Preferences -> Accounts -> Exchange Account -> Composition

![image](https://user-images.githubusercontent.com/2894

[2017-06-09 01:51] jeevatkm commented on #25
@sean-newman Postbox doesn't provide log file. however it has error console where all the log comes in (press Command+Shift+J to open).

Are you okay with remote Screen Share session, so that you can show your screen with the issue and I will show my postbox? This way we can find differences and address it.

I'm in PDT time zone, please let me know your answer.

[2017-06-09 01:56] sean-newman commented on #25
@jeevatkm: I'm happy to do a Screen Share session. We can do Skype if you want to talk as well.

I'm in AEST. Let me know how we can exchange details.

[2017-06-09 02:00] jeevatkm commented on #25
I'm fine with Skype call and screen share let's move our conversation into my email id "jeeva at myjeeva dot com"

[2017-07-18 18:44] wanderleihuttel opened #26 "How can I help to translate for portugueze brazilian"
Hello, how can I help to translate for portugueze brazilian?

Best Regards
Wanderlei

[2017-08-01 19:02] jeevatkm commented on #26
@wanderleihuttel Thank you for your interest.

Currently RWH not implemented with localization (supports only english). Not sure how much effort it would take.

Feel free to give it try and let me know, I'm happy assist you anytime.

[2017-08-24 22:16] lawrence-dol opened #27 "ISO Format Date, Local Time"
Would be nice to have the option to use ISO format for the date (yyyy-MM-dd), though with local time instead of UTC.

[2017-10-18 13:36] princemichi commented on #12
Hello,
i would recommend a German translation.
Please contact me if you need a translation!

[2017-10-18 16:46] jeevatkm commented on #12
@princemichi Thank you for your interest. To bring localization feature, first we need to enable add-on to adapt to localization. Then we can easily any language into it.

Will work on when I get a sufficient time. Thanks again.

[2017-11-07 17:14] tinazizel opened #28 "Body of email when reply"
Hello!
Thank you for this great add on! I have noticed that when replying to an email, the body of the initial email sent to me is moved slightly to the right, as if I have chosen the Tab button (in word) for the whole email. This is not the case when forwarding an email. Moreover, the 2 "--" before my signature disappear.
![email2](https://user-images.githubusercontent.com/33460540/32507351-db5b7

[2018-01-03 15:01] wikiaal opened #29 "Replied/forwarder content is always plain text"
Replied/forwarded content looses its original format and is converted always to plain text.

[2018-01-03 20:34] jeevatkm commented on #29
@wikiaal Thanks for reporting an issue. I have responded on Disqus and add-on portal.

Could you please share following information?

* Thunderbird version you're using
* RWH add-on debug log
     * First enable the debug log via add-on preferences on `About `Tab - Check `Enable debug mode`
     * Then open `Error Console` window by pressing `Shift + Command + J`
     * Now do both `Reply and Forw

[2018-01-03 20:36] jeevatkm commented on #29
And also Mail account type info, such Gmail, Outlook/Exchange, etc.

[2018-01-04 05:09] wikiaal commented on #29
My mail accont is GMail but the issue occurs with any type of mail account that sent the mail (GMail, Outlook, Live, etc.).

This is code for a Reply to an email in Error Console:

RWH   DEBUG	Initializing
RWH   DEBUG	Is HTML compose: true
RWH   DEBUG	Reply/ReplyAll mode
RWH   DEBUG	signatue in the bottom
RWH   DEBUG	reached blockquote, so no signature
RWH   DEBUG	Message URI: imap-message://andre

[2018-01-04 05:12] wikiaal commented on #29
Result is that, despite the fact that replied/forwarded mails are HTML, the content is always plain text.

[2018-01-04 05:13] wikiaal commented on #29
In my case, to activate Mozilla Error Console, the right way is CTRL + SHIFT + J

[2018-01-04 06:19] jeevatkm commented on #29
@wikiaal You're right, on windows this is correct way to bring error console.

What is your thunderbird version?

I will analyze and get back to you. Thanks for sharing debug information.

[2018-01-04 06:36] wikiaal commented on #29
@jeevatkm I'm using Thunderbird 52.5.2 on Windows 10 x64 1709

[2018-01-04 06:42] wikiaal commented on #29
Mmm... really odd behavior... for example, replying to your notification email received from GitHub doesn't convert replied content to plain text.

![cattura](https://user-images.githubusercontent.com/35070730/34552564-765ce978-f122-11e7-96e6-6783927950df.PNG)

[2018-01-04 07:03] wikiaal commented on #29
In some case, behavior is different between Reply (HTML) and Forward (plain text)

![cattura](https://user-images.githubusercontent.com/35070730/34553057-b5a642f2-f125-11e7-9149-34efa1f88397.PNG)

[2018-01-04 07:15] jeevatkm commented on #29
@wikiaal Typically RWH add-on composes the mail headers based on mail type such as HTML or Plain text.

As in thunderbird, if you hold `shift` key and do reply/forward it will always compose plain text regardless. RWH add-on respects that.

In your case I need to do homework at my end first then I will get back. My best guess is mostly its related to your thunderbird settings that causes add-on so

[2018-01-04 07:21] wikiaal commented on #29
![cattura](https://user-images.githubusercontent.com/35070730/34553525-3bac2fae-f128-11e7-93af-0a0c5bc9286f.PNG)

[2018-02-06 11:38] ofa- commented on #26
see e.g. #31 for a basic i18n / translation support proposal.

[2018-02-06 11:41] ofa- commented on #12
See e.g. #31 for basic i18n / translation proposal.

[2018-02-08 19:23] jeevatkm commented on #12
@mariobig @princemichi Hope you're doing well. @ofa- have contributed i18n support for header labels.  Can you please provide translation for following?

[code]

For reference @ofa- added `fr` locale values https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/content/rwh.js#L926-L959

[2018-02-08 19:32] jeevatkm commented on #26
@wanderleihuttel Hope you're doing well. Can you please have a look on [this comment](https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/12#issuecomment-364220581) and provide translation?

[2018-02-08 19:34] #25 closed

[2018-02-08 23:44] jeevatkm commented on #12
@ofa- Its done, please branch out fresh from master for your work going forward.

[2018-02-09 00:36] ofa- commented on #12
@jeevatkm ok thanks.  I had this drop-down at the top right corner first, then realised it was more related to the headers labels lang - and it is - so I decided to put it there instead;  your call anyway.

Next step for me will [probably] be to provide a way select the headers' language based on the sending account email - I have multiple accounts, some in French, some in English.

An alternative

[2018-02-12 22:39] ofa- opened #37 "Suggested improvements in Prefs"
- change date "format" labels in Prefs gui:
  Locale date format => Local timezone
  International date format (GMT) => International time (GMT)
- rename Prefs properties:
  date.format => date.timezone
  date.style => date.format
  (will break existing settings)
- use string properties (instead of int)
  and drop-downs instead of radio-buttons
  (would allow custom date/time format via config:  )

[2018-02-14 06:54] jeevatkm commented on #37
@ofa- Thanks for the proposal. I will have a look.

[2018-02-14 07:36] ofa- commented on #37
for the first item, you may check https://github.com/ofa-/ReplyWithHeaderMozilla/commit/b2768c26
(part of branch [ofa-:uniformize+simplify_radiogroups](https://github.com/jeevatkm/ReplyWithHeaderMozilla/compare/master...ofa-:uniformize+simplify_radiogroups?expand=1))

[2018-02-14 07:42] ofa- commented on #37
Here is what it looks like on Ubuntu, with simplified styling internals.
(in this screenshot, please ignore the fact that I also moved the locale/lang button)
![image](https://user-images.githubusercontent.com/1472525/36192689-f3280c98-1162-11e8-81c0-b91cd90f670b.png)

[2018-02-18 00:27] #27 closed

[2018-02-18 01:28] jeevatkm commented on #37
It seems you're working on this otherwise please let me know. I have just merged my work into master. Please branch out fresh from master.

Please find my comment/suggestions:
* For Point No. 1 - please go ahead for string changes
* For Point No. 2 - It is important to provide backward compatibility. It can be achieved via fallback approach. First look for `date.timezone` if not found then look fo

[2018-02-18 01:29] jeevatkm commented on #22
@surph Closing it. Please open new/reopen it more debug info. Thank you.

[2018-02-18 01:29] #22 closed

[2018-02-18 02:01] jeevatkm commented on #29
@wikiaal Could you please try RWH v2.0-beta and share your feedback?

https://docs.myjeeva.com/rwh-moziila/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-02-18 02:08] jeevatkm commented on #28
@tinazizel Sorry for late reply. Thank you for your compliment.

Not to worry. There are improvements happened in the RWH add-on.

Please try RWH v2.0-beta and share your feedback.
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-02-18 12:18] wikiaal commented on #29
Hmmm... at link https://docs.myjeeva.com/rwh-moziila/replywithheader@myjeeva.com-v2.0-beta.xpi
    I receive a 404 Not Found error.

        From: Jeevanandam M.
        Sent:
            Sunday, Feb 18, 2018 3:01 E
        To:
            jeevatkm/ReplyWithHeaderMozilla
        Cc:
            wikiaal; Mention
        Subject:
            [jeevatkm/ReplyWithHeaderMozilla] Replied/forwarder conten

[2018-02-18 16:59] jeevatkm commented on #29
@wikiaal It seems I made a typo in the URL.
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-02-18 19:02] wikiaal commented on #29
Installed ReplyWithHeader
        2.0 beta: I do not see improvements if compared to 1.5. I get the same unpredictability in
                  text formatting (sometimes html, sometimes plain) when
                  I reply / forward mail
                  messages. I'm using
                  Thunderbird 52.6.0.

                    Kind regards
                      Andrea Locatelli

        Fro

[2018-02-19 03:45] jeevatkm commented on #29
@wikiaal Its an internal improvements, new feature, etc. Also `v2.0-beta` debug log is more informative in-terms of flow, handling, etc.

I'm sure you have some unique issue. Its good to address that.

**It would be best to have screen share session tomorrow for debugging and analyzing. I'm in `PST` time zone, let me know the time; we can have the session.**

_PS: During a debugging please use Eng

[2018-02-19 05:44] wikiaal commented on #29
@jeevatkm Okay, we can arrange a screen share session (I have TeamViewer installed). My time zone is +9 hours (CET - Central European Time) far from yours, so we could schedule it between 9:00 am and 11:00 am (PST - Pacific Standard Time) which is between 6:00 pm and 8:00 pm for me (CET). I'll provide to install Thunderbird EN-US to let you to have settings in English.

Kind regards
Andrea

[2018-02-19 06:04] jeevatkm commented on #29
@wikiaal Between 9:00 am and 11:00 am (PST) Sounds good. I will ping you on this thread once I get up in the morning. Also I will install TeamViewer.

[2018-02-19 06:45] wikiaal commented on #29
@jeevatkm Okay between 9:00 am and 11:00 am (PST). I'll wait for your ping on this thread. Andrea

[2018-02-19 17:28] jeevatkm commented on #29
@wikiaal I'm ready and I have installed TeamViewer too.

[2018-02-19 17:33] jeevatkm commented on #29
Also what is your choice of messaging/chat, so we can jump onto?

[2018-02-19 17:35] wikiaal commented on #29
@jeevatk I'm coming: 3-4 minutes and I'm ready.

[2018-02-19 17:37] jeevatkm commented on #29
@wikiaal Okay, thanks.

[2018-02-19 17:37] wikiaal commented on #29
Tried to install en-US version of Thunderbird but menu language continue to be Italian.

[2018-02-19 17:40] jeevatkm commented on #29
That is okay. I will take your help. Any chat app we can use for message/audio?

[2018-02-19 17:41] wikiaal commented on #29
TeamViewer
ID: 613466211
Pwd: 9509

Please be careful, because my andrea.a.locatelli@gmail is my private and job mail account.

[2018-02-19 17:42] wikiaal commented on #29
Thunderbird is open, if you want to communicate, please, open a a text file on the desktop and write.

[2018-02-19 17:43] jeevatkm commented on #29
@wikiaal understood. I have deleted your post just now.

[2018-02-19 17:44] wikiaal commented on #29
ok, you have control of my computer

[2018-02-19 18:20] jeevatkm commented on #29
@wikiaal thanks for your time for debugging.

After analysis:
- It seems Thunderbird unable to determine the email type properly for some emails.
- It could be related to sender email client or mail server or thunderbird itself

RWH add-on gets the email information from thunderbird and acts upon it. So add-on is working fine.

[2018-02-19 21:25] jeevatkm commented on #29
@wikiaal We haven't tried this option. Can you turn off this option (available under Tools -> Account Settings -> Email Account)?
<img width="263" alt="screen shot 2018-02-19 at 1 24 11 pm" src="https://user-images.githubusercontent.com/1175977/36397607-4e8433c8-1578-11e8-95ac-5711a26b83aa.png">

and then try Reply & Forward. See how it behaves?

[2018-02-20 03:45] wikiaal commented on #29
If I correctly understood your request, here the result:

![screenshot1](https://user-images.githubusercontent.com/35070730/36406685-ddd3b7b2-15f8-11e8-9a96-aa1e381343db.PNG)
![screenshot2](https://user-images.githubusercontent.com/35070730/36406689-e13d40f8-15f8-11e8-8c35-7f77e101ae16.PNG)

[2018-02-20 03:57] jeevatkm commented on #29
@wikiaal Yes, you understood correctly. Thanks for sharing the result.

So our morning conclusion stays correct. This setting is not helpful too.

[2018-02-22 04:35] #29 closed

[2018-02-22 04:36] jeevatkm commented on #37
@ofa- May I expect PR per above comments?

[2018-02-24 13:06] ofa- commented on #37
@jeevatkm point 1: see #40

[2018-03-03 13:43] ofa- commented on #37
considered done (point  n°1 done, plus internal cleanup done)
other suggested changes dropped, as they would break existing conf or require fallback implem.

[2018-03-03 13:43] #37 closed

[2018-03-03 13:47] ofa- commented on #12
Full headers localization requires date [and time] i18n support.
These last bits are addressed by PR #41

[2018-03-03 13:53] ofa- opened #44 "Add per-account header language auto selection"
Enhancement: automatically select the header language/locale based on sending account email
=> PR #50

[2018-03-04 10:52] ofa- commented on #44
additional locale "automation" support for #12

[2018-03-04 15:49] ofa- commented on #12
include #45

[2018-03-04 15:49] ofa- commented on #12
include #42

[2018-03-04 15:51] ofa- commented on #12
include #41

[2018-03-11 00:24] ofa- commented on #44
See PR#50

[2018-03-11 12:17] ofa- commented on #12
@jeevatkm I suggest you edit your comment https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/12#issuecomment-364220581
to reference https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/content/rwh-i18n.js

[2018-03-11 12:51] ofa- commented on #12
(and I'll delete above comments, to cleanup the issue log)

[2018-03-11 13:26] ofa- commented on #44
@jeevatkm you can **delete** this issue, it is covered by #50

[2018-03-11 20:22] jeevatkm commented on #44
Merged into master 😄

[2018-03-11 20:22] #44 closed

[2018-03-11 20:25] jeevatkm commented on #12
@mariobig @princemichi -  @ofa- Have contributed wonderful locale support, kudos.

To be released with `v2.0`.

[2018-03-11 20:25] #12 closed

[2018-03-11 20:28] jeevatkm commented on #26
@wanderleihuttel moving it to enhancement, since @ofa- have already implemented the feature.

Going forward, its gonna be adding below set of translation values into RWH.

[code]

[2018-03-11 21:01] ofa- commented on #44
@jeevatkm can you try to **delete** this issue, just to see if it goes away from the list in #12 ...
(and it's a dup)

[2018-03-11 21:03] ofa- commented on #12
Hey @jeevatkm, FYI, I think I saw @princemichi ask __when__ v2.0 was going to be relased.

[2018-03-11 21:17] jeevatkm commented on #44
Actually in GitHub, there is no delete option 🤣 That list generated by auto reference if you mention `#50` to any PR or Issue

[2018-03-11 21:21] ofa- commented on #12
@jeevatkm you want to EDIT your comment here https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/12#issuecomment-364220581

The link you provide is no longer relevant :-)  I suggest you use that instead:

=> https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/content/rwh-i18n.js

[2018-03-11 21:27] ofa- commented on #44
@jeevatkm ok, too bad.  I hope github team proved the issue delete functionality some day.

I delete my old/no-longer relevant comments and cleanup the issues threads.

[2018-03-11 21:29] ofa- commented on #44
@jeevatkm you may as well do the same :-)

[2018-03-11 21:37] jeevatkm commented on #44
@ofa- Typically this how it works.

* First we create an issue to propose or plan feature/enhancement, etc.
* then we implement that then create a PR mentioning `implementation of #so-and-so` to refer that issue.

I hope it makes sense.

[2018-03-11 21:44] ofa- commented on #44
yeah I know the process.  They even have a nice cross-close feature i.e. when you say `closes #XX` in the PR, it automatically closes the mother issue.  However once the PR works [and describes the feature better than the original issue], I still think it would be better to simply remove the [now] dup.

Plus closed issues are RED whereas merged pull requests are PURPLE.

[2018-03-16 18:39] ofa- opened #53 "Auto-language selection is sometimes incorrect"
The automatic language selection feature as per #44 seems to have unexpected effects at times.
Use case:
- reply to a mail using .fr account => headers in .FR (expected)
- reply to other mail using .en account => headers in .FR (NOK)
- reply to other mail using .en account => headers in .en (expected)

[2018-03-20 04:11] #53 closed

[2018-04-01 18:42] jeevatkm commented on #28
@ofa- may I ask your help on investigating this issue? I did long time ago couldn't find a lead.

[2018-04-18 07:31] boatbodger opened #61 "Thunderbird 60.0b3 won't run RWH"
I've very much appreciated RWH, but sadly the latest update to Thunderbird - 60.0b3 - appears to have broken it.  Is this a 'mistake' by Mozilla, or is there a genuine incompatibility?

I tried the 2.0 beat from the github but Thunderbird simply says "cannot install, not compatible".
As a 'coder' myself, I'm very happy to work with you to help isolate the issue - I pulled the source, but don't (ye

[2018-04-18 15:27] jeevatkm commented on #61
Thanks for trying RWH with thunderbird beta.

Typically thunderbird determines compatibility using install.rdf file. Just open that you will see.

You’re welcome to contribute.

PS: v2.0 is getting shaped for next release.

[2018-04-20 08:07] boatbodger commented on #61
OK - thank you for that tip.
I started with your 2.0 beta master (pulled on 18th April 2018) adjusted the install.rdf file to change the maximum release of Mozilla to 60, then made a zip of the tree, renamed it as .xpi and was able to install it in Thunderbird.
A very quick test suggests it is working again, but I'll report anything I find through this forum.
Many thanks for the pointer - I much a

[2018-04-20 19:34] jeevatkm commented on #61
@boatbodger I'm glad to hear. Please let me know your feedback/findings for `v2.0` beta.  Before release we can address any issues.

I believe you have sent donation via PayPal, **Thank you very much for your support.**

[2018-05-01 07:17] jeevatkm opened #62 "Target RWH v2.0 release for Thunderbird 60"
Doc reference for add-on changes: https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_57

TB 60.* brings lots of breaking changes.

Start working on it 😄

[2018-05-01 07:27] jeevatkm commented on #62
v2.0 beta updates as of May 1, 2018 =>
http://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-05-09 09:14] jeevatkm commented on #62
v2.0 beta updates as of May 9, 2018
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-05-17 15:25] jeevatkm commented on #62
v2.0 beta updates as of May 17, 2018
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

Same build going to be released on AMO as beta version soon.

[2018-05-18 13:55] zyro23 opened #63 "allow to define font size in pt"
currently, the font size for the reply header can only be set in `px`. would be great if `pt` is supported, too.

[2018-05-18 17:12] jeevatkm commented on #63
@zyro23 Okay, will add it in the v2.0 release 😄

[2018-05-18 17:54] zyro23 commented on #63
awesome! thank you :)

[2018-05-26 06:43] jeevatkm commented on #62
v2.0 beta updates as of May 25, 2018
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

[2018-05-26 06:44] jeevatkm commented on #63
Point option add in to v2.0 beta

You can download it from here https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/62#issuecomment-392241327

[2018-05-26 06:44] #63 closed

[2018-06-08 07:18] zyro23 opened #64 "align font selection with the thunderbird options"
another feature request.

currently, one reply header font has to be selected explicitly (for html messages).

it would be great if there was an option to select font(s) like it works under thunderbird (settings -> composition -> general -> html options).
or maybe an option to just use the font that is selected in thunderbird.

for example, there is a default "variable width" font available and ot

[2018-06-09 18:59] jeevatkm commented on #64
@zyro23 I will analyze and get back to you.

[2018-06-26 23:17] n8v8R commented on #62
To my humble understanding there will be changes to Add-ons from TB 60 to TB 62 which not be covered in the guide cited at the start of this thread. Came across a few Add-ons that worked in 60 but not in 62.

[2018-06-26 23:32] n8v8R commented on #62
Sure, can do for TB 60, if that would be of interest?

But I since TB 60 became available as x64 for Win I removed TB Daily (current 62) since it broke too many add-ons.

[2018-06-26 23:38] jeevatkm commented on #62
I was interested to get feedback for TB 62 and its errors. It's okay thank you @n8v8R

[2018-06-29 02:42] jeevatkm commented on #62
@n8v8R I have tried TB 61 to 63, they not even recognizing the add-ons. No documentations around :(

[2018-06-29 06:02] n8v8R commented on #62
https://github.com/micz/ThunderStats/issues/162

[2018-08-07 04:20] wikiaal opened #65 "Where can I download ReplyWithHeader 2.0beta for Thunderbird 60.0?"
I'm going to install Thunderbird 60 x64 and would like to know where I can download ReplyWithHeader 2.0beta version to test if it works.

Kind regards
Andrea

[2018-08-07 05:13] jeevatkm commented on #65
@wikiaal download link is in this thread https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/62#issuecomment-392241327

Is TB 60 released?

[2018-08-07 05:26] wikiaal commented on #65
Yes, Thunderbird 60 x32 and x64 has been released in all languages. You can
fond it in FTP Mozilla site.

Il mar 7 ago 2018, 07:13 Jeevanandam M. <notifications@github.com> ha
scritto:

[2018-08-07 05:33] jeevatkm commented on #65
@wikiaal Thank you. I will start the work for making v2.0 release.

[2018-08-07 05:34] #65 closed

[2018-08-08 03:36] wikiaal opened #66 "Cannot download ReplyWithHeader v2.0 beta"
Sorry, but cannot download ReplyWithHeader v2.0 beta update from its link
https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.0-beta.xpi

It says that file is damaged.

Kind regards
Andrea

[2018-08-08 03:46] jeevatkm commented on #66
Is TB saying file is corrupted?

[2018-08-08 03:47] jeevatkm commented on #66
Let me download TB 60 and try at my end.

[2018-08-08 03:50] jeevatkm commented on #66
I have tried it, its working. I have created a Zip archive for you and attached to the comment. Please try.

[replywithheader@myjeeva.com-v2.0-beta.xpi.zip](https://github.com/jeevatkm/ReplyWithHeaderMozilla/files/2268850/replywithheader.myjeeva.com-v2.0-beta.xpi.zip)

[2018-08-08 03:53] wikiaal commented on #66
Now it works (using Firefox browser), many thank for your kind and prompt reply.

[2018-08-08 03:55] jeevatkm commented on #66
You're welcome @wikiaal. Please share your feedback. Before release I can address if any issues.

[2018-08-08 03:55] #66 closed

[2018-08-09 04:08] jeevatkm commented on #62
RWH add-on v2.0 submitted to AMO. Closing it.

[2018-08-09 04:08] #62 closed

[2018-08-09 15:39] Joel889 opened #67 "Thunderbird 60 - Cannot close settings window"
Addon's settings window cannot be closed in Thunderbird 60.

[2018-08-09 15:46] #67 closed

[2018-08-09 16:20] Joel889 commented on #64
I moved over from extension "Change quote and reply format" (https://freeshell.de/~kaosmos/changequote-en.html) since it hasn't been updated in years. That extension matched the same "variable font" as used in the message. Maybe there is a way to look how the author has done it.

While many options is usually a good thing, I cannot see a reason why anybody would want to use different fonts in the

[2018-08-11 04:18] wikiaal opened #68 "Issue with reply / forward with Thunderbird 60.0 x64 installed from scratch"
With Thunderbird 60.0 x64 installed as an upgrade from Thunderbird 52.9.1 x32, ReplyWithHeader seems to work well.

With Thunderbird 60.0 x64 installed from scratch there is an issue in replying / forwarding emails: vertical distance from (replyed / forwarded email) header has different number of empty lines to the top.

[2018-08-11 05:01] jeevatkm commented on #68
@wikiaal Are you seeing this behavior on v2.0?

I have already submitted add-on for review, it is in the queue. For now I will analyze the issue.

[2018-08-11 08:17] wikiaal commented on #68
I'm seeing the issue with 2.0beta. I have different Thunderbird installations: in the ones migrated from 52.9.1 x32 to 60.0 x64, ReplyWithHeader 2.0beta seems to work well. In the one with Thunderbird 60.0 x64 installed from scratch vertical distance from (replyed / forwarded email) header has different number of empty lines to the top (1 line for replied, 3-4 lines for forwarded).

[2018-08-15 01:55] jeevatkm commented on #64
@zyro23 @Joel889 Will figure out settings used in the TB and try out for mail headers.

[2018-10-26 05:32] Joel889 commented on #64
Have you had a chance to look into this?

[2018-10-27 06:58] jeevatkm commented on #64
@Joel889 I'm sorry. I didn't get a chance to do my home work on it. It may be small or big work I don't know, but I need to try to do work first.

If you have any insight around it, please share.

[2018-11-08 08:41] boatbodger opened #70 "Thunderbird 64.0b1 states addon incompatible even though install.rdf looks OK"
I unzipped replywithheader-2.0-tb-windows.xpi and checked the install.rdf file.
This contains the line:
        \<em:maxVersion>64.*</em:maxVersion>

so I would expect it to run OK with 64.0b1.
I tried changing it to 64.0* - no different
Any ideas what I can try next?

[2018-11-08 08:44] boatbodger commented on #70
I unzipped replywithheader-2.0-tb-windows.xpi and checked the install.rdf file.
This contains the line:
        <em:maxVersion>64.*</em:maxVersion>
so I would expect it to run OK with 64.0b1.
I tried changing it to 64.0* - no different
Any ideas what I can try next?

[2018-11-08 15:11] baykant opened #71 "Fail to work if Timezone Abbr. is not alpha"
If the timezone abbrv. is not alpha (eg: "+03", Turkish timezone without DST) extension fails. Change the date/time format to GMT solves the issue.
console output:

	tzAbbr chrome://replywithheader/content/rwh.js:215:16

[2018-11-09 14:21] jeevatkm commented on #71
@baykant Thanks for reporting it. I know timezone handling needs improvement. Will do in the next release.

[2018-11-10 20:07] defrilitus opened #72 "Locale Error"
This is indeed an excellent plug-in, but it contains a locale error.
In Apple Mail, when I choose the “English” date format in RWH (version 6.0), it comes out as “November 5, 2018 at 3:20:27 PM EST”. However, this is not English, but American (en-US).
All other major countries that employ English as a major language (e.g., UK, Ireland, Canada, Australia, New Zealand, South Africa) use the en-GB st

[2018-11-18 09:07] jeevatkm commented on #72
@defrilitus Thanks for reporting an issue. I will have a look.

[2018-11-18 09:17] jeevatkm commented on #72
@defrilitus Did you tried RWH v2.0 plugin?

[2018-11-18 19:29] defrilitus commented on #72
@jeevatkm Nope, because I'm using TB 52.9.1 (I refuse to upgrade to 60) and RWH 2.0 is only compatible with TB 60+.

[2018-11-22 01:26] wanyixue opened #73 "ReplyWithHeader 2.0+TB 60.3.1 on Mac OS X 10.11.6 Gmail account reply content is empty"
I installed ReplyWithHeader 2.0 with TB 60.3.1 on Mac OS X 10.11.6. The reply content for Gmail account is empty whereas the forward fucntion for Gamil accout and the reply/forward function for other mail accouts are OK.
<img width="1088" alt="default" src="https://user-images.githubusercontent.com/1362745/48876339-79922400-ee38-11e8-9e60-f4467f2d9eb0.png">

[2018-11-28 12:17] gabri25ele opened #74 "May I have a not-html style and translate in italian?"
May I have a style like this in my reply: (not html)

-----Messaggio originale-----
Da: somebody@email_provider.com
A: you@email_provider.com
Inviato: mercoledì 28 novembre 2018 11:12
Oggetto: something subject

and where for the italian translate:

From: > Da:
To: > A:
Cc: > Cc:
Subject: > Oggetto:
Date: > Data:
Sent: > Inviato:

Forwarded Message > Messaggio inoltrato
Original Message > Messaggi

[2018-11-28 13:28] LibertyForce-Gmod opened #75 "Additional line break before signature"
When this addon is active, replying to a message adds an additional line break (with br tag) in front of the signature in both HTML and text-only mails.

Using Thunderbird 60.3.1
This does not happen on new mails or forwarding.
The signature is in HTML format, as an external file, but this also happens with internal signatures
Answer is set to "above quote"
Signature is set to "below answer, but a

[2018-11-30 01:54] jeevatkm commented on #75
@LibertyForce-Gmod Did you get a chance to check the RWH preferences for header lines setting?

[2018-11-30 01:57] jeevatkm commented on #74
@gabri25ele email format is not controlled by RWH addon. It just follows the TB provided values.

Could you create a pull request with Italian translation added to this file https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/chrome/content/rwh-i18n.js ?

[2018-11-30 02:02] jeevatkm commented on #73
@wanyixue Could you enable `Debug` mode, steps are below?

RWH add-on debug log:

* First enable the debug log via add-on preferences on About Tab - Check Enable debug mode
* Then open Error Console window by pressing  on macOS `Shift + Command + J` and on Windows `Shift + Ctrl + J`
* Now do both Reply and Reply All behavior on the emails you have an issue
* Share all the debug line starts with RW

[2018-11-30 14:35] LibertyForce-Gmod commented on #75
I tried setting all line breaks to 0 but it doesn't affect the problem. The weird thing is, that the unwanted space is inserted between the mail body and the signature. Not between the signature and the quote header.

Also tried disabling all other addons in case there was a conflict, but I can definitively say that the line break only appears when this addon is active.

[2018-12-01 00:14] jeevatkm commented on #75
@LibertyForce-Gmod Thanks for the inputs. I will have a look.

Could you please share the screenshot? (shade the info in the image you don't want to share)

[2018-12-15 08:11] jeevatkm commented on #73
@wanyixue Today I was verifying RWH with TB 60.3.3 on my Mac book 10.14.1 with my gmail account add-on seems to work alright. I don't have Mac OS environment at my end. Not sure how to proceed on it.

[2018-12-20 10:23] rudi223 opened #76 "font size always Medium"
No matter which font size I select in the add-on, e.g. 8 points or 16 points, Thunderbird sets the font size to "Medium" in the E-Mail.

As I write all my E-Mails in Font Size "Small" the header is bigger than the text.
This you can only see when you receive a reply to your reply.
Because the font size selected in the add-on is displayed correcctly in the draft before sending. With 8 the header is

[2019-02-02 11:17] markstetz opened #77 "Doesn't work at all"
Thunderbird 60.5.0 (64 bit)
Mac OSX 10.14.2

Installed RWH and restarted Tbird. Absolutely no reply header in replied messages - even less than the default Tbird one. Changed settings, restarted Tbird several times - nothing. Left in disabled mode so that there would be at least one reply line instead of none. I am not a programmer and have no interesting in debugging code. Any idea why the reply

[2019-02-05 04:40] jeevatkm commented on #76
@rudi223 Thanks for reporting it. I will verify.

[2019-02-05 05:03] jeevatkm commented on #77
@markstetz Thanks for reporting it. I understand what you mean regarding user error. Basically it's difficult to detect errors in TB until fails, so always user help is needed to debug any issues it pop up in  TB.

As you might aware; TB is going through lot of internal design changes, so its very possible get broken easily unlike TB 52.* before. There are known add-on incompatibilities issues als

[2019-02-06 08:47] markstetz commented on #77
Jeevanandam-
    The debug console readout is below. I also noticed that Tbird
      ignores the 'reply to' field, which will require another add-in to
      fix. Your e-mail address also had spaces in it, which may be
      intentional. Note the lack of a reply below.

    Thanks for looking in to this.

      RWH   DEBUG    Initializing RWH
      RWH   DEBUG    Current mail type: HTML
      RWH 

[2019-02-06 08:52] jeevatkm commented on #77
@markstetz Thank you for providing the debug log. Log info has failure details, I will fix this and once beta version is ready I will request for try out.

Yes, space in the email address is intentional.

Regarding `Reply-To` header, typically its not included in the header composition. I would like to understand what you're trying to convey?

[2019-02-08 08:55] jeevatkm commented on #64
@Joel889 @zyro23 I have search around to look for settings key name. I have found a name called `msgcompose.font_face`.

By default it does not have any values unless user set it via `TB -> Preferences -> Composition -> HTML section -> Font`.

Then I did further analysis on how TB does default font selection. It seems like it has default font name by locale. Handling this gonna be very time consum

[2019-02-08 08:58] zyro23 commented on #64
sounds reasonable. thanks!

[2019-02-08 08:59] jeevatkm commented on #64
Nice, once v2.1 beta version ready I will ping you for try out. Thanks.

[2019-02-09 08:05] jeevatkm commented on #77
@markstetz I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:05] jeevatkm commented on #76
@rudi223 I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:06] jeevatkm commented on #75
@LibertyForce-Gmod I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:07] jeevatkm commented on #74
@gabri25ele I have prepared the `v2.1.0.beta.1` with Italian locale and much more, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:07] jeevatkm commented on #73
@wanyixue I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:08] jeevatkm commented on #72
@defrilitus I have prepared the `v2.1.0.beta.1` with locale fix `en-GB` added, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:08] jeevatkm commented on #71
@baykant @johanponken I have prepared the `v2.1.0.beta.1` with date fixes, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:09] jeevatkm commented on #64
@zyro23 @Joel889 I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:11] jeevatkm commented on #26
@wanderleihuttel I have prepared the `v2.1.0.beta.1` with Brazil locale, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:11] jeevatkm commented on #28
@tinazizel I have prepared the `v2.1.0.beta.1`, could you try out with `TB 60.*` and share your feedback?

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.1.xpi

[2019-02-09 08:21] jeevatkm commented on #71
@johanponken After your try out, please update your review on AMO would be helpful.

[2019-02-09 10:51] johanponken commented on #71
TB 60.5.0 (32b) OK:

• I get, for my CET locale, correctly e.g. "Thursday, February 7, 2019, 05:23 UTC+1".

• And trying also an **old summertime** mail, with header (praise be to Toggle Headers) saying:
 "Mon, 18 Jun 2018 22:08:55 +0000 (UTC)",  I get:
 "Tuesday, June 19, 2018, 00:08 UTC+2" with timezone* checked
 "Monday, June 18, 2018, 22:08 UTC" with timezone* un-checked

*Found "Include short

[2019-02-09 13:29] rudi223 commented on #76
Hi,
thanks for your efforts, but I can't manage to install v2.1.0.beta.1.
If I click the link in the browser, Firefox tells me that the file couldn't be installed, because the download is damaged.
If I copy the link to Thunderbird Add-on-search it doesn't find anything. Also it doesn't find anything if I look for ReplyWithHeader v2.1.0

[2019-02-09 18:44] defrilitus commented on #72
@jeevatkm I'm afraid that I no longer use Thunderbird.  If you have a beta version for Apple Mail, I would be happy to try it out.

[2019-02-10 04:46] jeevatkm commented on #76
@rudi223 Thanks, beta version is not published on AMO that's why you could not find it. Just to download the add-on file please use any browser other than Firefox.

[2019-02-10 04:46] jeevatkm commented on #72
@defrilitus Okay, thanks for the response. Will let you know.

[2019-02-10 04:46] #72 closed

[2019-02-10 04:47] jeevatkm commented on #74
Its done 😄

[2019-02-10 04:47] #74 closed

[2019-02-10 04:48] jeevatkm commented on #71
@johanponken Thanks for your try out and feedback. Also AMO review update 😄

[2019-02-10 04:48] #71 closed

[2019-02-10 04:49] jeevatkm commented on #26
`pt-BR` locale added, I'm closing it 😄

[2019-02-10 04:49] #26 closed

[2019-02-10 04:50] jeevatkm commented on #28
I'm closing it.

[2019-02-10 04:50] #28 closed

[2019-02-10 04:51] jeevatkm commented on #77
Its done 😄

[2019-02-10 04:51] #77 closed

[2019-02-11 09:50] wanderleihuttel commented on #26
Hello @jeevatkm! I've just seen the message today! I've installed the beta version and the option to choose another language is showed, but when I've opened the .xpi file I couldn't find any locale file for translate for Portuguese Brazilian.

[2019-02-11 10:21] ofa- commented on #26
@wanderleihuttel the localisation is "home-made", not using the usual system;  it's all in a single file:
https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/chrome/content/i18n.js

[2019-02-11 16:21] jeevatkm commented on #76
@rudi223 I have done this TB font detect for the header as part of #64 It seems like It takes away the option choose font RWH preferences. My bad I didn't realize it. I will revert it back to previous behavior.

@zyro23 I'm gonna revert the `msgcompose.font_face` font detect changes. I think it would be okay to select the same font from RWH preferences. This end-user would have better control on t

[2019-02-16 16:03] LibertyForce-Gmod commented on #75
@jeevatkm Sorry for the late reply, I wasn't able to test until today.
Unfortunately the problems still exists. Tested on 60.5.1
In addition I also used a clean profile with just this addon installed, with all settings default.

Screenshots from testing:
Reply with addon: https://i.imgur.com/v7GayzJ.jpg
Reply without addon: https://i.imgur.com/s8IF5dO.jpg
New message: https://i.imgur.com/kbgvg7h.j

[2019-02-16 21:43] jeevatkm commented on #75
@LibertyForce-Gmod Thanks, I will have a look and get back.

[2019-02-19 05:15] jeevatkm commented on #75
@LibertyForce-Gmod I have prepared the RWH v2.1.0-beta.2, please give it a try and let me know.

https://docs.myjeeva.com/rwh-mozilla/replywithheader@myjeeva.com-v2.1.0-beta.2.xpi

[2019-02-19 05:16] jeevatkm commented on #76
The issue has been addressed and closing it for release.

[2019-02-19 06:09] jeevatkm opened #79 "Prepare for v2.1.0 release and publish to AMO"
This tracks the release effort of RWH v2.1.0

[2019-02-19 12:53] rudi223 commented on #76
I just sent an e-mail with screen shots

[2019-02-19 12:57] rudi223 commented on #76
Didn't recognize that I can answer on the closed issue, so her what I wrote:

Hi,

here some screenshots to the issue.
The file names describe what you see.

If I send an e-Mail from Thunderbird to Thunderbird and back the problem isn't there for any reason. Maybe because I use the same client for all addresses.
But If I answer an e-mail with TB to Outlook, the Outlook user sees the font sizes sel

[2019-02-19 13:01] rudi223 commented on #76
Didn't recognize that I can reply to a closed topic, so her what I wrote:

Hi,

here some screenshots to the issue.
The file names describe what you see.

If I send an e-Mail from Thunderbird to Thunderbird and back the problem isn't there for any reason. Maybe because I use the same client for all addresses.
But If I answer an e-mail with TB to Outlook, the Outlook user sees the font sizes select

[2019-02-19 13:04] rudi223 commented on #76
Didn't recognize that I can reply to a closed topic, so her what I wrote:

Hi,

here some screenshots to the issue.
The file names describe what you see.

If I send an e-Mail from Thunderbird to Thunderbird and back the problem isn't there for any reason. Maybe because I use the same client for all addresses.
But If I answer an e-mail with TB to Outlook, the Outlook user sees the font sizes select

[2019-02-19 21:55] jeevatkm commented on #76
@rudi223 Thank you for the detailed response. I have surely done few font, font size fixes in `v2.1.0` you could see HTML that via debug mode (enabling on About Tab on preferences) and TB error console (Shift + Cmd/Ctrl + J).

I will re-open this issue. Honestly, I don't have a clue on "how to fix the inconsistent between outlook client TB", needs some investigation.

Also, one thing it could be v

[2019-02-21 07:03] LibertyForce-Gmod commented on #75
@jeevatkm Thank you. The new version fixed the problem, both an new and old profiles.

[2019-02-21 07:51] jeevatkm commented on #75
@LibertyForce-Gmod Thanks for the confirmation. I'm closing this issue.

[2019-02-21 07:51] #75 closed

[2019-02-21 08:38] jeevatkm commented on #79
Its done 😄

[2019-02-21 08:38] #79 closed

[2019-02-22 13:12] rudi223 commented on #76
Again, thanks for all your efforts.

I don't have Outlook. I asked a friend to send an e-mail and to reply to my reply.
Do you have Outlook or a friend with knowledge in IT using it?
Source code, etc. is to "deep" for me.

By the way I'll open a new point.

[2019-02-22 13:22] rudi223 opened #81 ""From:"-line empty"
Hi,

when I reply to e-mails in some of my messages the "From:"-line in the header stays empty.
"From:" is there, but no e-mail address or name beside it.
The other lines (Sent, To, Subject) seem to work normal.

That "From:" is empty only seems to happen with e-mails which do not include the name of the sender. Messages which only have the e-mail address of the sender in the from-field.
e.g. "joh

[2019-02-23 23:34] jeevatkm commented on #76
@rudi223  I will try to create email chain with outlook.

[2019-02-23 23:38] jeevatkm commented on #81
@rudi223 Can you try the option of `Default` and let me know?

_FYI, RWH does NOT lookup any contacts to From header or any. RWH just uses the email header and its values provided by TB._

[2019-02-25 07:26] rudi223 commented on #81
It works with settings in Default

[2019-04-11 20:27] jeevatkm commented on #81
@rudi223  Good to know it works on Default settings. Could you please enable debug log and perform reply without default settings and share the logs here?

RWH add-on debug log:

* First enable the debug log via add-on preferences on About Tab - Check Enable debug mode
* Then open TB Error Console window by pressing
   - on macOS `Shift + Command + J`
   - on Windows/Linux `Shift + Ctrl + J`
* Now

[2019-04-23 20:51] johnsonb88 opened #82 ""reply to list" isn't supported"
On messages for which the "Reply to mailing list" button is active (due to the presence of a "List-Post:" header? not sure) replying to the list does not trigger ReplyWithHeader.  The default Thunderbird reply formatting is used.

[2019-04-23 20:59] johnsonb88 opened #83 "RFE: toolbar button or menu item do temporarily disable ReplyWithHeader"
Sometimes, for example if I'm replying to a message from a mailing list which disallows top-posting, I prefer to use the default Thunderbird reply formatting.  The RWH Preferences tab has a top-level "Enable" checkbox which makes it fairly easy to disable and enable ReplyWithHeader.  But accessing it requires wading through the Add-ons screen, or leaving the tab open all the time.

It would be han

[2019-05-24 13:13] janblaesi opened #84 "Feature request: Prepend '>' to header"
Hi!
I really appreciate your addon! But there is one thing that would make it even better :D

I like to have the quote character enabled and would love to have the option to move the Reply header into the quote (like RWH for Apple Mail is doing it), would that be possible?
<img width="804" alt="Screenshot 2019-05-24 at 15 11 21" src="https://user-images.githubusercontent.com/44644172/58330091-6cc9

[2019-05-26 19:27] jeevatkm commented on #84
@janblaesi Thank you for your inputs. I will have a look, I could have tried that and might have left behind that idea.  Since TB and Apple Mail works very different internally 😄 I'm sorry, I don't remember it clearly.

I will give it try!

[2019-05-26 19:30] jeevatkm commented on #83
@johnsonb88 Good idea, I will bring this option 😄

[2019-05-26 19:32] jeevatkm commented on #82
@johnsonb88 I'm sorry, RWH doesn't support Mailing List. It works only for Reply/Reply All/Forward for emails.

[2019-05-26 19:34] jeevatkm commented on #73
I'm closing this one!

[2019-05-26 19:34] #73 closed

[2019-07-15 00:48] cakepuller opened #85 "Forwarding a draft email without a sender eats line 1 of body"
RWH version 2.1.0, TB 60.7.2 (32bit)
Steps to reproduce:

- Compose an email > Don't specify any recipient > Type some lines > Save as Draft
- Goto Draft folder > highlight the Draft email > Forward
- Result is a forwarded email with the first line of the email missing.

Not a big issue, but this use case is what I use quite often, so, a teeny bit annoying. :)  I can get around it by specifying a

[2019-07-20 08:40] jeevatkm commented on #85
@cakepuller Thank you for reporting an issue and your appreciation.

Currently, the above-mentioned scenario I have not tested. I will have to try it out at my end to see what goes wrong in it.

[2019-07-29 15:48] n8v8R opened #86 "incompatible with TB69 (beta)"
Operating System: W10 Pro x_64 v1903 b18362.267
Thunderbird: 69.0b1 (64-bit)
RWH: 2.1.0
_____
![Annotation 2019-07-29 165313](https://user-images.githubusercontent.com/13611490/62062295-0a6f9980-b229-11e9-966e-2c1330d5dcc9.png)

[2019-08-30 03:35] anoreg opened #87 "Remove Header line spaces"
It's really a nice plugin after smarttemplate4 become a commercial plugin.
But there's a tiny issue:
My outlook reply & forward header doesn't have line space
It looks like:

From: name
Sent: xxx
...
Subject: xxx
Msg body
...

I tried using replay or forward and send msg to myself
The format looks good in thunderbird
but if received mail in outlook, the header shows:

From: name
"a empty line "
Se

[2019-09-02 20:14] jeevatkm opened #88 "Add support for TB 68.0"
The goal of this issue to identify the necessary updates required for RWH to make it work in TB 68.0

**Please Note:** I have to learn and perform this upgrade, it might take a while due to my day work commitments. However, I will surely add support :smile:

[2019-09-02 20:22] jeevatkm commented on #86
I think it might work once I finish #88, so closing this one. Thanks.

[2019-09-02 20:22] #86 closed

[2019-09-02 20:26] jeevatkm commented on #82
I think implementing #83 will provide a way for Mailing list users to disable RWH on-demand easily and enable it back.

[2019-09-02 20:26] #82 closed

[2019-09-02 20:28] jeevatkm commented on #70
Since TB 68.0 is released, I will be focusing on adding support for it. In-favor of #88, I'm closing this one. Thanks!

[2019-09-02 20:29] #70 closed

[2019-09-02 20:31] jeevatkm commented on #87
@anoreg Thanks for reporting an issue. I will have to analysis and fix the problem. These sort of issues are typically hard to narrow down the root cause.

[2019-09-02 20:36] jeevatkm commented on #88
Collected notes:
* https://support.mozilla.org/en-US/kb/new-thunderbird-68
* https://www.thunderbird.net/en-US/thunderbird/68.0beta/releasenotes/

[2019-09-02 21:55] jeevatkm opened #89 "New Header label attribution request"
At last (very delayed), I'm creating an issue here since user does not have GitHub user account. RWH user reached out via email.

----
**Email Details:**

From: Mehdi Alimadadi
Sent: November 9, 2018 at 8:46:29 AM PST
To: jeeva@myjeeva.com
Subject: ReplyWithHeader

Hi Jeevanandam,

Thank you for ReplyWithHeader version 2.0. I would like to say that when I reply to an email that was sent to me, I h

[2019-09-05 07:12] Masala-ms opened #90 "language / region customizations"
Hi and thank you so much for this add-on, which seems to be the last (non-commoercial) one available that easily lets you adjust the reply header including the subject and works with TB 60.
Disclaimer: I'm not a developer and completely inexperienced with tb add-ons.

There's 2 things I'd like to adjust: First, exchange the word in the variables "From: ", "To: ", "Date: " and "Subject: ". Second,

[2019-09-05 09:12] stepkas commented on #87
@jeevatkm Hello, thanks a lot for the addon! I'm also facing an issue with line spacing when reading the mail in outlook v9 and above. From what i understand it uses Word for rendering HTML and it adds <p> tags to the header made with the addon.. That makes outlook users see an extra space between header lines..

Attaching how the header looks in Thunderbird (html_header.txt) and how outlook sees

[2019-09-07 23:30] jeevatkm commented on #90
@Masala-ms Thank you for your appreciation. This is my personal project, I intended to keep it opensource.

As of today, RWH v2.1.0 works with TB 60.* and I have started studying the TB 68.0 updates for RWH #88. It seems lot of effort is needed to support TB 68.0.

Previous I used to support a lot of customized required on header attribution and customization (header order, different date formats,

[2019-09-08 02:35] jeevatkm commented on #87
@stepkas Thanks for reporting an issue. Actually RWH does not insert/add any `<p>` tag and `mso-*` stylesheet, however your attached `outlook_header.txt` has those `<p>` and `mso-*` stylesheet.  It seems outlook is added it.

I have read your stack overflow reference. Suggestion is use `table`, `tr` and `td`. I will look into it.

[2019-09-10 08:07] Masala-ms commented on #90
Thanks for your reply!
Actually, the (very, very simple) solution for my issue was to switch the language in RWH ;-) I just hadn't put any attention to that setting before.
Thanks again and I hope, you'll have time to support TB 68+ soon.

[2019-09-10 08:07] #90 closed

[2019-09-17 07:06] wikiaal commented on #88
Please, give support. I had to go back to TB 60.9.0 because your add-on doesn't work with TB 68.0.

[2019-09-19 09:58] WesleyGeneroso95 commented on #88
+1
Please, give support to the TB 68.0.

[2019-09-19 13:30] FxRe commented on #88
People, he already announced that he's working on it. I don't think it'll go any faster, if you just reply "Please, give support"... If you want it so badly, you'll have to be more productive.

[2019-09-21 04:36] wikiaal commented on #88
Thunderbird 68 had been published in beta for 2 months ... maybe think about it a little earlier ...

[2019-09-21 12:22] FxRe commented on #88
Even if it had been published 2 decades ago, that doesn't make a difference at all right now.

[2019-09-23 19:03] jeevatkm commented on #88
@FxRe Thank you for your understanding and support.

@wikiaal Thanks for sharing your concerns. From RWH user standpoint, it's very valid.

I want to share my situation and perspective. I love doing open-source projects and do my best with my limited time along with day work, family, personal, etc.  So, I wait until the final version comes out. Then I search for documentation for changes needs to

[2019-09-24 05:26] wikiaal commented on #88
Of you need someone to make tests with upcoming RWH for TB v68 please ask.

[2019-10-09 06:10] insekt commented on #88
Please add support for Thunderbird 68. I'm in 1 step from switching to Outlook =(

[2019-10-11 13:39] llvs commented on #89
Hi Jeevanandam,
I don't know, if mailto: with angle brackets is allowed (like suggested in previous post), but I would also welcome the addition to have Outlook Extended style using angle brackets like:
Name <name@mail.com>
instead of the current
Name [mailto:name@mail.com]
Best regards
weaker

[2019-10-12 08:23] dpate71 commented on #88
Any news on RWH compatibility for TB 68?

[2019-10-14 07:52] athanas55 commented on #88
Maybe you should, if you think 5 dollars for the other plugin that does the same job (and a bit more) doesn't worth it.

[2019-10-14 08:07] n8v8R commented on #88
@athanas55 Which plugin is that?

[2019-10-14 08:15] insekt commented on #88
Could you point me to that plugin?

[2019-10-15 06:34] jeevatkm commented on #88
Hello All -

I have created a working version `RWH v2.2.0-beta` addon for TB 68 plus version. However, **_there is an issue yet be sorted out is RWH preferences (no errors, needs investigation)_**.

Download link: http://bit.ly/2MFswW5

In the meantime, can you please try and share your feedback.

Cheers, Jeeva

[2019-10-15 07:00] wikiaal commented on #88
Dear Jeeva, thank you very much for your work!!! I've just upgraded (in my secondary laptop) to TB 68.1.2 and installed RWH 2.2 beta. I'll send you a feedback a.s.a.p.

[2019-10-15 07:03] jeevatkm commented on #88
@wikiaal Thank you for your help, appreciated 👍

[2019-10-15 09:44] wikiaal commented on #88
Dear Jeeva,
first test with TB 68.1.2: the RWH 2.2.beta seems to work properly for mail reply and forward, but I have no access to RWH settings (I see only deactivate and remove buttons, no settings button anywhere).

[2019-10-15 10:21] insekt commented on #88
@jeevatkm thank you very much!
@wikiaal confirm the same behaviour.

[2019-10-15 10:35] zdenekvecera commented on #88
@jeevatkm, thank you very much!

[2019-10-15 10:40] n8v8R commented on #88
WFM with 70.0b3 (64-bit) on WIN 10 Pro v1903 x_64, except no settings to access.
____
Just thought to mention about the display of settings:

This MX (mail extension) https://mailredirect.sourceforge.io for example integrates its settings with the main Options -> Composition UI

![Annotation 2019-10-15 123509](https://user-images.githubusercontent.com/13611490/66824289-4a047280-ef48-11e9-8a78-4c5f

[2019-10-15 11:32] WesleyGeneroso95 commented on #88
Dear Jeeva,
I'm testing the plugin with TB 68.1.2 and everythings seems to work great.

[2019-10-15 12:15] athanas55 commented on #88
@insekt Try searching for SmartTemplate4

[2019-10-15 12:50] wikiaal commented on #88
SmartTemplate4 is more complex (and less reliable) to use than RWH and isn't free.

[2019-10-15 17:17] m-i-k-e-y commented on #88
@jeevatkm: The beta you provided is working for me. Thank you!

This is the only thing I've found in the error console related to this extension:

[2019-10-15 17:36] alphp commented on #88
@jeevatkm thank you very much!
@wikiaal confirm the same behaviour.

[2019-10-17 06:49] jeevatkm commented on #88
Thank you @wikiaal, @zdenekvecera, @insekt, @WesleyGeneroso95, @m-i-k-e-y, @alphp for trying out and sharing your feedback.

Once I sort out the implementation of the RWH settings, I will make a few more beta releases to ensure everything works then I will do a final release.

----

I want to provide internal details of TB and its roadmap. How it's affecting the addons.

Since TB 68 addon model is

[2019-10-20 04:49] jeevatkm commented on #88
Hello All -

I have prepared the next beta version with RWH preferences issues fixed. Can you please test it out and provide your feedback?

Download link: http://bit.ly/2BtWMOx

I will wait for couple of weeks, If everything working alright then I will bump the release version to `v3.0.0` and I will submit it to AMO.

Cheers, Jeeva

[2019-10-20 05:28] wikiaal commented on #88
Hi Jeeva,
first of all thank you very much for the work done!!!

Just installed and tested the new RWH v2.2.1-beta:

- Good and identical results in Reply and Forward (both functions seem to work well).
- I would just like to make a remark: the Reply/Forward headings use a (forced) font (Thaoma) other than the default one that is set in Thunderbird as (Latin) Sans Serifs (Calibri); in other words,

[2019-10-20 05:37] jeevatkm commented on #88
Hello Andrea -
Thank you for your feedback.

* I will work on default font once I address the TB 68+ support also there is an enhancement/bug request needs to be done too
* TB moved that to
       - For windows/linux  "Tools -> Addon Options -> RWH Preferences"
       - For mac "Tools -> Addon Preferences -> RWH Preferences"  - (Please note: It seems TB has some bug, sometimes it does not show up

[2019-10-20 08:07] zdenekvecera commented on #88
@jeevatkm, thank

[2019-10-20 08:11] zdenekvecera commented on #88
@jeevatkm, thank you very much.

I couldn't change my settings in a previous beta. But in this new RWH v2.2.1-beta the settings works again. Great!

[2019-10-20 08:44] m-i-k-e-y commented on #88
@jeevatkm Thanks again. Settings do open for me and seem to work so far.

The error message I've seen with the previous beta is gone too in the error console, only this warning is left:

That points to this line in the manifest of your addon:

Keep up the good work!

[2019-10-20 09:25] wikiaal commented on #88
@jeevatkm & @zdenekvecera: why I cannot find "settings" anywhere in the new RWH v2.2.1-beta?

[2019-10-20 09:26] house67 commented on #88
Jeeva,
as far as i can see RWH v2.2.1-beta works really fine.

many tks

[2019-10-20 09:43] feddnoai commented on #88
Hi Jeeva,

reply and forward work properly. Preferences are not being displayed under Tools>Add-on Preferences. Tried it a couple of times. I won´t give up! ;)

[2019-10-20 09:48] wikiaal commented on #88
Hi Jeeva,
after some more tests, I've found an issue with RWH:  replying to some mails, with Forward function I have the same format of the header (body text, font), with Reply function the body text format becomes different (preformatted?) with plain fixed lenght font while the header remain body text as in Forward function.

[2019-10-23 16:29] wehkah opened #91 "Feature request: make the addon choosable per reply"
Hello and thanks for this wonderful addon!

Sometimes you need to use Outlook style, sometimes you don't. This addon would be even more handy if it could be enabled or disabled on each written reply, for example by clicking a button in the compositor's menu bar.

[2019-10-24 07:18] athanas55 commented on #88
Hello Jeeva
Just installed the beta and its performing as it should until now.
System: W10, 64bit, v.1903,
TB: 68.2.0, 64bit.
In case any bugs come up I'll report them here.
Thank you for your efforts and dedication to open-source projects.

Thanos

[2019-10-27 15:37] ygoe opened #92 "Make subject header optional"
I don't need the subject in the header. It's always the same anyway. But it can't be deselected. An option that only includes sender and time would be appreciated.

[2019-10-27 15:38] ygoe opened #93 "ISO date format"
An internationally understood time format would be better for global recipients. Instead of deciding on one language/culture and localised formatting and timezone shortnames, could there be a time format like "2019-06-09, 16:14 (+0200)"? I'd suggest adding a checkbox to enable this format in favour of a localised one.

[2019-10-27 15:41] ygoe opened #94 "Use default font"
Why do I have to set a font, size and colour for the inserted headers? Can't the header just use the default sans-serif font and text style? I'd suggest adding a checkbox above that section to use a custom style. If unchecked, no custom style will be applied (except the bold style for header titles).

[2019-11-18 01:29] cakepuller opened #95 "Feature request: remove <blockquote> in replies"
Hi Jeevanandam
**Many thanks** for your addon.  It's very useful to me and am grateful for your efforts.  I'm using RWH 2.1.0 on Thunderbird 60.9.0.

May I please request for a feature to omit the **\<blockquote\>** tag in the replies (in html).  The **\<blockquote\>** tag causes undesired indentation of the replied text as shown in the attached screenshot.    The problem with the **\<blockquote\>

[2019-12-27 12:55] jc97 commented on #88
Hello,

I tried the beta version too and it is working perfectly for me. I think you can bump the release.

Thanks!

[2020-01-25 05:10] netjeff commented on #88
Just found this thread.  Installed the beta, and works perfectly.  Looking forward to the official release. Thanks @jeevatkm!  I just [donated](https://myjeeva.com/replywithheader-mozilla#donators), hopefully lots of people will donate for your great work.

[2020-03-02 01:13] jeevatkm commented on #95
@cakepuller I think this option "Cleanup the blockqoute colors" might be already working in RWH, can you verify it. Basically this option will remove color and left padding.

Please let me know.

[2020-03-02 09:27] cakepuller commented on #95
I'm afraid it doesn't clear the blockquote tags.  I had tried turning on options "Cleanup the blockquote colors" and "Cleanup only new blockquote color", in various combinations, but the blockquote tag is still there when clicking Reply.

Is this perhaps because even without RWH installed, native TB still inserts the blockquote tag upon Reply?

[2020-03-02 20:15] jeevatkm commented on #88
Dear All - FYI, RWH v2.2.1 release version submitted to AMO for approval.

[2020-03-03 06:20] wikiaal commented on #88
Hi Jeeva,
thank you so much for your invaluable work, look forward for final 2.2.1 version of RWH.

With my best regards
Andrea

[2020-03-04 08:51] #88 closed

[2020-04-08 19:41] Koala66 opened #97 "No Signature on Forward TB 68.7"
Hello,

thank you very much for your tool. The only easy way to remove the blockquotes easily with Thunderbird 68.7. Unfortunately if I switch it on, there are no signatures on mail forward anymore. It works for mail reply and new mail - but not forward. - If I switch the add-on off, it works for forward.

With my best regards

Koala66

[2020-04-08 22:19] jeevatkm commented on #97
@Koala66 Thanks for reporting an issue and your appreciation.

I need further info, can you provide info? please follow the below steps.

RWH add-on debug log:

* First enable the debug log via add-on preferences on About Tab - Check Enable debug mode
* Then open TB Error Console window by pressing
   - on macOS `Shift + Command + J`
   - on Windows/Linux `Shift + Ctrl + J`
* Now do Reply, Reply A

[2020-04-10 18:30] islobodin opened #98 "Option "Default (Subject, Date, From, To, Cc)" works as "(From, Subject, Date, To, Cc)""
Thunderbird 68.7.0 (64-bit), ReplyWithHeader 2.2.1.

When I reply an email with the option "Default (Subject, Date, From, To, Cc)" set, I get the following header:

From: GitHub [mailto:noreply@github.com]
Subject: [GitHub] Please verify your device
Date: Friday, April 10, 2020, 21:22
To: Me <me@myserver.ru>

[2020-04-11 20:23] 2BeeOrNot commented on #97
Check here and see if replies and forwards are checked. If not checked RWH generates the following entries in the error console:

RWH  DEBUG   Signature not exists

![image](https://user-images.githubusercontent.com/63317977/79054088-1ad97000-7c10-11ea-821e-54eccc2a1b2d.png)

[2020-04-11 20:36] Koala66 commented on #97
There is everything checked. But no signature if I forward.

With my best regards

Robert Kahl

------------------------------------------------------------------------

------------------------------------------------------------------------
*From:* 2BeeOrNot
*Sent:* Saturday, April 11, 2020, 22:23 UTC+2
*To:* jeevatkm/ReplyWithHeaderMozilla
<ReplyWithHeaderMozilla@noreply.github.com>
*Cc:* Koala

[2020-04-11 21:21] 2BeeOrNot commented on #97
Signature works for me for new, reply and forward on TB 68.7 and macOS 10.15.4.
Did you enable debug mode and look for 'RWH DEBUG Signature not exists' in error console?
Are you using Windows? I can check on an old Windows 7 PC later. Any other addons that could cause the problem?

[2020-04-12 09:38] Koala66 commented on #97
Hello,

I thought I sent you this log:

window.controllers/Controllers sollte nicht mehr verwendet werden.
Verwenden Sie es nicht für die Browser-Erkennung. blank <about:blank>
RWH DEBUG Initializing ReplyWithHeader v2.2.1 (Thunderbird 68.7.0,
Windows, 20200407160932)
RWH DEBUG Email content-type: HTML
RWH DEBUG Email compose type: Forward
RWH DEBUG Message URI: imap-message://R.Kahl@192.168.36.25

[2020-04-12 11:19] Koala66 commented on #97
Hello,

I uninstalled and reinstalled. I get the same result. For the Forward it
does not use the settings of RWH but the build in of Thunderbird + it
removes the signature. And replay is with English (from, sent, to, cc,
subject) and forward is German (Betreff, Datum, von, an, etc.), and I
got the following error log:

NS_NOINTERFACE: Component returned failure code: 0x80004002
(NS_NOINTERFACE) [

[2020-04-12 17:58] 2BeeOrNot commented on #98
The way it is currently coded all header quoting starts with 'From'

A few changes in core.js will make the option "Default (Subject, Date, From, To, Cc)" do what it says.

For HTML emails change:

      rwhHdr += htmlTagPrefix + '<b>' + i18n.from[locale] + '</b> ' + pHeader.from + htmlTagSuffix;

      if (headerQuotLblSeq == 0) { // jshint ignore:line
        rwhHdr += htmlTagPrefix + '<b>' + i1

[2020-04-26 11:40] jeche17 commented on #87
I'm also having the same issue with line spacing. Want to know if this problem solved yet or not? How to resolve this problem?
Thanks.

[2020-04-29 08:49] jeevatkm opened #99 "Start the work on adding support for TB 78+"
It seems TB has pushing add-on on to next level challenge - Migrating to **WebExtension** otherwise, it won't work.

![Screen Shot 2020-04-29 at 1 44 59 AM](https://user-images.githubusercontent.com/1175977/80577316-8581fe00-89bb-11ea-9a8a-17dab01beb34.png)

🤔 First I have to start learning WebExtension so that I can migrate 😆

[2020-07-07 10:36] olaquetal opened #100 "Quoting message disable outlook reply styles"
Hi,
I'm using Thunderbird 68.8.0 under linux.
ReplyWithHeaderMozilla works fine for me except if the option "Quote message" is enabled.
In that case, the header reverts to default thunderbird style.

Example (sorry it's in french) :
"Normal reply"

(start)

De : GitHub
Envoyé : jeudi 25 juin 2020 à 11:04 AM
Pour : olaquetal
Objet : A new security advisory on rack affects 2 of your repositories

xx

[2020-07-14 06:19] kenxran opened #101 "Language translate to Trad-Chinese. and Vietnames, I can help."
Dear Sir

Language translate to Trad-Chinese. and Vietnames, I can help. where is the language files? thanks !

[2020-09-05 01:41] jeevatkm commented on #101
@it4u Sure, you can. Please refer to this PR #102 as an example.

[2020-09-05 01:43] jeevatkm commented on #100
@olaquetal It seems there is an error happening. Can you follow the below steps to collect logs and share them with me?

RWH add-on debug log:

* First enable the debug log via add-on preferences on About Tab - Check Enable debug mode
* Then open TB Error Console window by pressing
   - on macOS `Shift + Command + J`
   - on Windows/Linux `Shift + Ctrl + J`
* Now do Reply, Reply All or Forward beh

[2020-09-05 01:46] jeevatkm commented on #97
@Koala66 Thanks for the logs, I will look into it.

[2020-09-05 01:48] jeevatkm commented on #95
@cakepuller I'm sorry for the delayed response. Typically RWH never removes the blockquote, since it will disturb the email formatting done by TB. RWH just updates the style values to make it invisible on UI and technically email source will still have blockquote in it.

[2020-09-05 03:37] jeevatkm commented on #99
As I looking into it, it turns this is a complex task and requires a rewrite of the add-on. Not sure how much time its going to take.

[2020-09-06 07:07] jeevatkm commented on #99
I have read so many documents and investigated a lot also reached out TB community with few questions.
* https://thunderbird.topicbox.com/groups/addons/T6f81f0bbb7b18952/anyone-know-equivalent-of-compose-window-init-in-mailextension
* https://thunderbird.topicbox.com/groups/addons/T5c58b355f11ff49e/how-to-apply-locales-message-in-options-ui-html
* https://thunderbird.topicbox.com/groups/addons/Tfd

[2020-09-08 05:31] cakepuller commented on #95
@jeevatkm No problem, thanks for your hardwork in putting RWH out.

[2020-09-16 01:10] jeevatkm commented on #99
Thought to mention it here for RWH users.

As it turns out, brand new RWH MailExtension development (complete rewrite is required for TB 78+) is happening on branch `tb-78-mail-extension`

[2020-09-29 19:49] jeevatkm commented on #99
RWH MailExtension development is in-progress.

Technically it's happening in two parts -
* One for the short term - just make it work with workarounds in TB 78
* Another one for the long term - a complete rewrite from scratch to support TB 78+ roadmap. This part is very time consuming and lots of effort involved. - No ETA
  * Good thing, I will bring new feature also using the latest TB capabiliti

[2020-10-05 00:07] jeevatkm commented on #99
Dear RWH User -

I have prepared the RHW v2.3.0-beta for try out.
Download Link: https://bit.ly/2F0cQNg
Sha256: 882b3abca3dde68413084d9680351dcee0b44d4c64cef4184e486abd3da30b11

Can you please test and share feedback?

_**PS:** This short-term goal is to make RWH work in TB 78 after that I will start work brand new RWH v3.0.0 Mail extension._

[2020-10-05 07:23] BackSpace54 commented on #99
Hi Jeevatkm,
i will try RWH beta tonight (in a couple of hours - here UTC/GMT +2).
Feedback coming soon ;-)

[2020-10-05 08:00] tidebre67 commented on #99
Hey Jeeva, tks for beta version. Testing was positive. Could not see any problem in this test. Seems to work as in previous TB versions.

[2020-10-05 08:49] m-i-k-e-y commented on #99
@jeevatkm

Thanks for the beta version. It is working, although the headers are hard to read when the dark theme is used.

[2020-10-05 14:06] chdh commented on #99
@jeevatkm Thank you very much. I was waiting for this. It works fine for me with TB 78.3.1.

[2020-10-05 16:40] BackSpace54 commented on #99
Works like a charm except for "Reply list" : no headers remplacement.
Don't remember if it works with v2.2.1

[2020-10-06 06:21] jeevatkm commented on #99
@BackSpace54, @tidebre67, @m-i-k-e-y, @chdh  - Thanks for the testing and confirmation.

@BackSpace54 - RWH add-on only supports Reply, Reply to All, and Forward.

@m-i-k-e-y - I have not learned the new TB theme concepts yet. The RWH v2.3.0 is just to make it work in TB 78. I will have to figure out the theme when working on RWH v3.0.0 Mail Extension.

----

I have received positive feedbacks her

[2020-10-06 07:16] jeevatkm commented on #99
Just now, I have submitted RWH v2.3.0 to ATN for review.

[2020-10-06 07:26] weksupport commented on #99
Thank you very much !

On this moment, no problems and it looks good !

Regards,

Werner

------------------------------------------------------------------------
*Van:* Jeevanandam M. [mailto:notifications@github.com]
*Datum:* maandag 5 oktober 2020 02:07
*Aan:* jeevatkm/ReplyWithHeaderMozilla
<ReplyWithHeaderMozilla@noreply.github.com>
*Cc:* WEK <wek@weksupport.nl>, Manual <manual@noreply.github

[2020-10-07 05:07] jeevatkm commented on #99
@weksupport Thanks for testing and confirmation.

[2020-10-07 05:13] jeevatkm opened #103 "Brand new RWH v3.0.0 Mail Extension for TB future roadmap"
In the #99 issue tracking, the short-term goal of adding TB 78 has been done and released to [ATN](https://addons.thunderbird.net/en-US/thunderbird/addon/replywithheader/).

This issue is to track the new development of RWH v3.0.0 Mail Extention development.

[2020-10-07 05:16] jeevatkm commented on #99
RWH v2.3.0 has been released to ATN and the new development will be tracked under #103.

[2020-10-07 05:16] #99 closed

[2020-10-07 13:54] spodermenpls commented on #99
@jeevatkm Is it to be expected that I can't access the "RWH preferences" with the new 2.3.0 build? The add-on does work now (thank you for your efforts!), but is using the English instead of the German locale for the headers, that I'd prefer. I see that there's a commit called "... preferences page started working", but I only can access the "Details" and "Permissions" in the add-on panel.

[2020-11-09 06:25] jmc8 opened #105 "RWH uses black txt for header when using Win10 dark mode."
When using Win 10 dark mode from the Settings->Colors menu, RWH still uses black text for the header, which is nearly impossible to see when viewed against the dark grey background used by Thunderbird.
Thunderbird itself changes the email body txt color from black to white when using win 10 dark mode.

I would expect RWH to use either the same color txt Thunderbird is using or to use white color t

[2021-03-06 11:14] BPower0036 opened #106 "Translation to Dutch"
The Outlook header style contains the english 'sent'
This is currently translated to Dutch with 'Datum'
However, it should be translated with 'Verzonden'
Can you change that?

[2021-03-25 17:29] 7wells opened #107 "Have full, unrestricted access to Thunderbird, and your computer"
Hello!

Currently, ReplyWithHeaderMozilla needs "[full, unrestricted access to Thunderbird, and your computer](https://support.mozilla.org/de/kb/permission-request-messages-thunderbird-extensions#w_have-full-unrestricted-access-to-thunderbird-and-your-computer)" (like many other useful and great TB extensions), Is it possible (mid-term) to change that?

Explanation from Mozilla:

So do I understan

[2021-05-11 11:45] cnmicha commented on #18
I can confirm this issue.

Additionally, I observed that the quote border characters are not removed in the plain text part of and email that consists of a HTML and a plain text version. Maybe this is related.

[2021-05-11 12:43] cnmicha commented on #18
@jeevatkm Do you have a timeline to fix this?

[2021-05-11 13:48] cnmicha commented on #18
A workaround is to install the ReFwdFormatter plugin (https://addons.thunderbird.net/en-US/thunderbird/addon/refwdformatter/) additionally to ReplyWithHeader. It automatically removes the shift to the right in the original message.

[2021-05-11 14:21] cnmicha opened #108 "Change header separator color to Outlook default"
Hi,

how do you think about changing the default value of the preference `extensions.replywithheader.header.separator.line.color` to `#1E1E1E` which is the header separator line color of Outlook?

What was the idea behind choosing the current default color (`#B5C4DF`)?

If you like, I can provide a pull request for this.

Thanks!

[2021-05-15 06:00] jmc8 commented on #106
2 minutes at Translate.com confirmed this. My useless 2 cents.

[2021-05-15 06:09] jmc8 commented on #105
@cnmicha @jeevatkm
I'm a firmware engineer, not a js/chrome/html engineer, so I'm easily wrong here.
Based on cnmicha's comments, this line should be commented out:
ReplyWithHeaderMozill/defaults/preferences/rwf-defaults.js, line 23:
https://github.com/jeevatkm/ReplyWithHeaderMozilla/blob/master/defaults/preferences/rwh-defaults.js

How would I test that?

[2021-05-15 10:21] cnmicha commented on #105
@jmc8 I think commenting out line 23 just removes the default value of the preference. However, this does not stop the HTML color tag from being added to the email message (although it would have no value, but that doesn't comply with the HTML syntax).

I see two options:
a) remove the color setting and the corresponding HTML tag that is being added completely. Of course, this removes some functio

[2021-05-23 16:58] RalfKerkhoff opened #109 "Transformation Re to RE and Fwd to FW not working in German"
Hi,
the transformation (Misc TAB) from Re to RE and FWD to FW is not working with language set to German (thunderbird is german too).

Cheers
Ralf

[2021-05-23 20:05] cnmicha commented on #109
@RalfKerkhoff Workaround: In `about:config`, set `mailnews.localizedRe` to `AW,Aw`. However, this has only an effect on new incoming email, not on messages that are already in your inbox or some other folder.

[2021-05-24 10:16] RalfKerkhoff commented on #109
Hi,
it is already set to AW,Aw.

Just to make sure that I understand things in the right way:
If answering a mail the subject should be RE instead of Re and FW instead of Fwd - correct?

If I am right, that is not happening (tested with new mails).

Cheers
Ralf

[2021-05-24 18:01] cnmicha commented on #109
I think your understanding is correct, however I don't know how well RWH plays together with the `mailnews.localizeRe` setting.

[2021-08-12 05:15] jaisekjames opened #110 "Add Support for thunderbrid 91.0"
Currently replaywithheader is not working with Thunderbrid 91.0.

Pls add support for thunderbrid 91.0

[2021-08-19 13:01] wikiaal commented on #110
Hi Jeeva, looking forward for a ReplyWithHeader version fitting to Mozilla Thunderbird 91.

Please, add support to this new version of Thunderbird.

Andrea

[2021-08-20 19:33] jeevatkm commented on #110
@jaisekjames @wikiaal Thanks for reporting and creating an issue for TB 91 version.

I will surely add support, first need to read and understand the changelog of TB 91 then I will implement it.

Thanks for your support.

[2021-08-21 13:43] spodermenpls commented on #110
@jeevatkm I'm so glad that you're back, your absence since April worried me a bit. 😅

In case you didn't see it yet, this site should cover everything you need to know for transitioning RWH into an MailExtension "experiment": https://developer.thunderbird.net/add-ons/updating/tb91

[2021-08-21 19:10] jeevatkm commented on #110
@spodermenpls Thank you, yes I'm reading that page.
Yeah, it's due to my workplace became too busy for business reasons plus my personal end too.
Because of that, I couldn't finish #103 yet. At least I was glad RWH was in a working state but TB 91 release challenged "how come it's still working 🤣".

First, I will make RWH work with TB 91+

_PS: Hoping things will get better by end of this year._

[2021-08-23 12:53] jaisekjames commented on #110
Thank you for looking into this.

One minor bug facing is any attachment keyword below replay header also shows as warning[attachment missing banner].

[2021-09-09 09:55] T200proX7 commented on #110
Arch upgraded the Thunderbird Package to 91 and so i had to reinstall several addons (check for updates or simple update wasnt working). I removed all the old addons and installed the new one. All worked except the RWH. I install it but it seems to not get installed, as the button on the Addon Page "Install Addon" is still there and after reinstall it disappears from the addon list.
No idea how to

[2021-09-10 08:00] jobisoft commented on #110
I created a pull request with an updated version for TB91:
https://github.com/jeevatkm/ReplyWithHeaderMozilla/pull/112

Could you try if that version is working as intended in TB91?
[ReplyWithHeaderMozilla.zip](https://github.com/jeevatkm/ReplyWithHeaderMozilla/files/7142178/ReplyWithHeaderMozilla.zip)

[2021-09-10 08:02] jobisoft commented on #110
Options are now in the add-on manager:
![grafik](https://user-images.githubusercontent.com/5830621/132821018-5bddc384-2c6b-4bf4-9fd8-5703b3a32f9e.png)

[2021-09-10 08:22] wikiaal commented on #110
Hi Jeeva, many thanks for your support!!! For sure I will test a.s.a.p. the updated RWH for Thunderbird 91.x version and send feedback.

Andrea

[2021-09-10 08:33] BackSpace54 commented on #110
Hi,
thanks for what you have done atm.
RWH working again and first tests are ok (Thunderbird 91.1.0).

[2021-09-10 08:45] wikiaal commented on #110
Hi Jeeva,
at a first test of new ReplyWithHeader version (2.4.0) with Thunderbird 91.1.0 (64 bit) installed as an upgrade from 78.14.0, it seems that everything works fine: ReplyWithHeader upgraded from previous (2.3.0) version has kept the settings, both SEND and FORWARD functions work correctly with the same layout (same number of blank lines, same font, same appearance of email header).

Andrea

[2021-09-10 09:19] jobisoft commented on #110
One user reported here:

I have no idea what that means. Do you? Can you reproduce that? How?

[2021-09-10 09:59] spodermenpls commented on #110
@jaisekjames Could you tell us how to reproduce the "attachment missing banner" warning you mentioned? I haven't upgraded to TB 91 yet, for the very reason that I wouldn't be able to use RWH (at least until now, I guess..).

@wikiaal Jeeva has the handle @jeevatkm, @jobisoft is a separate entity. 😉

[2021-09-10 10:05] BackSpace54 commented on #110
Hi again,
seem that previous RWH formatted the Header 'From' in outlook Extended like this _From: Name <email-address>_, in 2.4 it is formated like this _From: Name [mailto:email-address]_
So Thunderbird show two types of email in reply header one with [ ] and one with < >
Could you fix the Header 'From' in outlook Extended?

[2021-09-10 11:01] jobisoft commented on #110
You sure? Even in the screenshot on the ATN page it is like so:
![grafik](https://user-images.githubusercontent.com/5830621/132843730-da537663-1cc5-4200-b10a-e3807e2f6d68.png)

[2021-09-10 11:10] spodermenpls commented on #110
^ I can confirm that this formatting behaviour is already present under TB 78, this wasn't introduced by the porting of RWH to TB 91.

[2021-09-10 11:38] BackSpace54 commented on #110
Sorry, my bad...
The default option formated the email with < > so no issue.

[2021-09-10 11:54] jaisekjames commented on #110
I Upgraded to 91 version. Now tested with No issue found.

"attachment missing banner" was in 78.x version.

While forwarding, some attachment keyword is there, then it was popping. Now I tested, No issue with add-on.

[2021-09-10 12:20] T200proX7 commented on #110
Hello. Thanks for fast answer. Yes this version is working well. The version on thunderbird addon page wasnt working.
Thank you.

[2021-09-10 12:28] jobisoft commented on #110
Then we need @jaisekjames to answer, merge and release it.

[2021-09-10 15:49] spodermenpls commented on #110
@jobisoft I assume you mean @jeevatkm? 😅

[2021-09-10 15:50] jobisoft commented on #110
Oh, yes, sorry.

[2021-09-10 22:49] jeevatkm commented on #110
@jobisoft Hey John - it's been a while we had a conversation. Thank you so much for your PR.

I did the same exercise in the branch [for-tb-91](https://github.com/jeevatkm/ReplyWithHeaderMozilla/compare/for-tb-91?expand=1) and have been testing for few days. Also, I ran into one issue on **macOS** for the options screen, basically, the **selected tab label** does not show; spending few days figuri

[2021-09-10 23:18] jeevatkm commented on #108
@cnmicha When initially developed the RWH add-on that time I took a color code from Outlook. I think the Outlook client still uses that color. I can see with my macOS Outlook client v16.52 (21080801).

May I know where do you see a black color? web version?

[2021-09-10 23:22] jeevatkm commented on #109
@cnmicha  I'm sorry. To be honest, I have tested the RWH with only the English version TB build. I have not tested with any other **locale** version due to my time constraint.

[2021-09-10 23:23] jeevatkm commented on #106
Closed by #111 , thanks @BPower0036

[2021-09-10 23:23] #106 closed

[2021-09-10 23:30] jeevatkm commented on #107
@7wells I hoping the new permission model could be done with #103 goal of new MailExtension development. The last time I checked, there are a few API used by RWH that is not available yet with the new version of MailExtension.

Feel free to review the RWH source code, share any improvement areas if you have any concerns.

[2021-09-10 23:34] jeevatkm commented on #105
@cnmicha I have read the thread.
Currently, I do not how to grab the theme color value or TB-provided color value. I have to read the TB documentation for it.

If you know the answer, please feel free to create a PR.

[2021-09-10 23:35] jeevatkm commented on #101
@kenneth-ran Any updates? Minimum you can help on providing values, I will create a PR.

[2021-09-11 03:49] 2BeeOrNot commented on #110
This also happens with RWH 2.3.0, Thunderbird 78.14.0 and macOS 11.5.2. I have not upgraded to Thunderbird 91 yet.

I fixed it using userChrome.css:

`/* Selected tab label not visible fix */`
`#rwhPane tabbox tabs tab[visuallyselected="true"]:not(:-moz-window-inactive) {`
`	/* is #fff in chrome://global/skin/tabbox.css:48 */`
`    color: unset !important; /**/`
`}`

![Options](https://user-images

[2021-09-11 07:51] jobisoft commented on #110
@jeevatkm Thank you for responding. I did not see the other branch, sorry. I would suggest pushing the updated version (yours or mine) to ATN as soon as possible because your *current* version claims compatibility with TB91 and breaks TB91 big time. So having this small issue on Mac, which we could fix later is a lot better, than dooming *all* your users by breaking their Thunderbird 91.

[2021-09-11 18:49] jeevatkm commented on #110
@jobisoft Agreed, I will create a beta version and submit it on ATN, this week after the feedback I will create a release version.

[2021-09-11 23:12] jeevatkm commented on #110
Dear RWH Users -

I have submitted the v2.4.0 add-on ATN. After approval, it will be available for one.

In the meantime, if you would like to download an add-on, you can use the below link.
Download Link: https://bit.ly/3hrdG5Q
Sha256: b3984cf7a06165a489c68d9f6e06c8a82f63643cf76ed2698a3f8e9a2b2855a8

Thanks for your support.

[2021-09-11 23:40] #110 closed

[2021-09-11 23:58] spodermenpls opened #114 "More explanatory descriptions/examples"
Inside the general settings, the lack of a preview example after the 1st "Default" (in this case `From: Name <email-address>`) leaves the user a bit in the dark about what to expect from the first standard setting, maybe you can add an example there too, like you did for the other settings. Same goes for the "don't include plain text header prefix" option in the Misc column, it was unclear even to

[2021-09-12 02:55] jeevatkm commented on #114
@spodermenpls Makes sense. Will try to add additional info for the options.

[2021-09-12 05:18] wikiaal commented on #110
Cannot install RWH 2.4.0 on my TB 91.1.0 because I receive a message that the "object is damaged".

Andrea

[2021-09-12 05:19] jeevatkm commented on #88
Hello @wikiaal - I'm wondering. is these are your reviews? if yes, do you mind updating the review and stars?

https://addons.thunderbird.net/en-US/thunderbird/addon/replywithheader/reviews/user:13652970

Regards,
Jeeva

[2021-09-12 05:21] jeevatkm commented on #110
@wikiaal - can you please try this link? - https://docs.myjeeva.com/rwh-mozilla/replywithheader-v2.4.0.xpi

[2021-09-30 05:21] Miro-sk opened #115 "Folder name with accented characters"
If you replaing on email located in a folder with a name that contains accented (Slovak) characters (e.g. "Kôš" (Trash), "Odoslané" (Sent), "MôjPriečinokOdoslané" (MyFolderSent)), ReplyWithHeader does not work.

Reply on the email located in folder "Odoslané":
![image](https://user-images.githubusercontent.com/78640224/135391519-13a09ba9-4bba-4e47-a62b-2f610898ece1.png)

Reply on the same email lo

[2021-10-19 06:55] BPower0036 commented on #109
The Re to RE doesn't happen in Dutch either, but FWD to FW does do it.

[2021-11-02 14:39] cnmicha opened #116 "Forwarding emails downloads remote content although TB was configured to block remote content"
I set up a fresh installation of Thunderbird with no addons.

Thunderbird's default setting when receiving HTML messages with remote images is blocking the download of the remote content and displaying a warning message ("To protect your privacy, Thunderbird has blocked remote content in this message").
When forwarding that email, remote content is not downloaded (as I expected, because I have not

[2021-11-02 14:47] nitemn commented on #116
Go into Thunderbird Preferences and under Privacy and Security Section check the checkbox that says:  Allow Remote content in Messages.  That will resolve your issue.

[2021-11-02 14:51] cnmicha commented on #116
I do not want to allow remote content in messages and I think TB is configured like that.
But if the RWH addon is installed, this TB setting seems to be ignored in the composer window.

[2022-03-01 09:55] x3rAx opened #117 "Possible to use "Paragraph" instead of "Body Text" as paragraph format?"
Hi,

great extension! However I noticed that the paragraph format is "Body Text" when when replying while the extension is active. Without the extension it is "Paragraph".

The main difference (at least for me) is that with "Paragraph" you hit Enter only once and a half-line-height gap is produced between paragraphs. With "Body Text" however, there is no such gap and you have to hit Enter twice to

[2022-06-27 05:08] jaisekjames opened #118 "Incompatible with Thunderbird 102"
Please make compatible with TB 102.
Release candidate 1 (RC1) is available at https://archive.mozilla.org/pub/thunderbird/candidates/102.0-candidates/build1/

[2022-06-30 07:30] maxmichels commented on #118
@jaisekjames i found a solution: you can manually edit the maximum version and it will work again. The code itself is fully compatible.
https://kb.mozillazine.org/Editing_an_add-on_to_change_its_compatibility

You must change the max version to 102.* and it works again :-)

[2022-06-30 17:54] nitemn commented on #118
This is great but I can not find the .rdf install file in the .XPI archive?  Can you please let me know which file you changed to make this work?
Thank you

[2022-06-30 19:05] ynjo commented on #118
You can change manifest.json file instead

[2022-06-30 19:07] maxmichels commented on #118
Exactly as @ynjo said. The version has to be changed in the manifest.json

[2022-07-01 09:53] spodermenpls commented on #118
@jeevatkm

[2022-07-01 12:59] Fredrik-69 commented on #118
Just a small tip: if you use 7-zip you don't even need to unpack/repack the XPI file. You can open the existing file directly with 7-zip, make modifications via ALT+ENTER, open manifest.json in for example Notepad++, save the file and let 7-zip update the archive.
C:\Users\<name>\AppData\Roaming\Thunderbird\Profiles\<profile>\extensions\replywithheader@myjeeva.com.xpi

[2022-07-02 06:41] wikiaal opened #119 "Thunderbird v102 and ReplyWithHeader"
Hi Jeeva,
Mozilla released Thunderbird v102. Do you plan to support this new version with your ReplyWithHeader extension?

Kind regards
Andrea

[2022-07-04 10:21] ThePirat91 commented on #119
+1
It would be very appreciated...
Thanks

[2022-07-04 10:24] Fredrik-69 commented on #119
In the meanwhile just do as suggested in the duplicate issue #118.

[2022-07-04 15:09] wikiaal commented on #119
The suggested workaround works!!!

I changed the max version to "strict_max_version": "102.*" in manifest.json (in replywithheader@myjeeva.com.xpi) and ReplyWithHeader v2.4.0 works with Thunerbird v102.

I found it in this path:

C:\Users\<uresname>\AppData\Roaming\Thunderbird\Profiles\75y65lmn.default-release\extensions\replywithheader@myjeeva.com.xpi

You can OPEN replywithheader@myjeeva.com.xpi

[2022-07-04 21:59] jeevatkm commented on #119
Hello @wikiaal and everyone - Thanks, I will start looking into it and make the required updates.

[2022-07-04 22:00] jeevatkm commented on #118
Hello @jaisekjames and everyone - Thanks I will start looking into it and make the required updates.

[2022-07-08 07:58] maxmichels commented on #118
@jeevatkm do you know until when you will have fixed it? 😄

[2022-07-10 06:25] Fredrik-69 commented on #105
For the ones that wish to test alt a) described above, just edit line 366 in \chrome\content\core.js

Replace (with the help of 7-zip):
[code]

With:
`let htmlTagPrefix = '<div style="font-family:' + fontFace + ' !important; font-size:' + fontSize + fontSizeUnit + ' !important;">';`

[2022-07-10 17:37] jmc8 commented on #105
I would test out Fredrik-69's suggested fix, however RWH is currently not working on Thunderbird v102. Damn Thunderbird. Why do they constantly break everyone's plug-ins? In my line of work, doing so will get you fired.

[2022-07-10 17:42] Fredrik-69 commented on #105
Whiled editing the source code, just replace 91.* with 102.* in manifest.json. Voilà!

[2022-07-10 17:53] Fredrik-69 commented on #105
If you're interested I have prepared such a file for version 102.* and with font color removed. I have put version 2.4.1 on it.
Use it if you like. Just rename from .zip to .xpi since it doesn't seem allowed to upload xpi files here.

[replywithheader-2.4.1-tb.zip](https://github.com/jeevatkm/ReplyWithHeaderMozilla/files/9079572/replywithheader-2.4.1-tb.zip)

[2022-07-10 18:09] jmc8 commented on #105
Fredrik-69, you are awesome! Everything works as expected.
Thank You!

[2022-07-12 05:00] wikiaal commented on #118
The suggested https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/118 workaround works!!!

I changed "strict_max_version": "91.*" to "strict_max_version": "102.*" in manifest.json (in [replywithheader@myjeeva.com.xpi](mailto:replywithheader@myjeeva.com.xpi)) and ReplyWithHeader v2.4.0 works with Thunerbird v102.

I found it in this path (it refers to a MS Windows 11 installation):

C:\Users\

[2022-07-19 20:47] jeevatkm commented on #118
Hello Everyone - My apologies for the delay, due to personal reasons, it got delayed.  This time it's minor update #120  (version no and ACM support script update).

I have submitted `v2.5.0` on ACM for review, in the meantime, if you need a release version, you can grab it from https://bit.ly/3PGuMeI

Thanks for your patience and support, I appreciate it!

Cheers, Jeeva

[2022-07-19 20:47] jeevatkm commented on #119
Hello Everyone - My apologies for the delay, due to personal reasons, it got delayed.  This time it's minor update #120  (version no and ACM support script update).

I have submitted `v2.5.0` on ACM for review, in the meantime, if you need a release version, you can grab it from https://bit.ly/3PGuMeI

Thanks for your patience and support, I appreciate it!

Cheers, Jeeva

[2022-07-20 07:38] Fredrik-69 commented on #119
Superb! Well done.
If you want you can delete 'version_name' from manifest.json since it is not supported by Mozilla anyway. It only generates a warning in the developer console.
Ref. [https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/version_name](url)

[2022-07-23 06:26] dpate71 commented on #119
@jeevatkm  You may update Compatibility Matrix on https://myjeeva.com/replywithheader-mozilla to include v2.5.0.

[2022-07-23 07:05] jeevatkm commented on #119
@Fredrik-69 Thanks for pointing out the deprecated config info, I will take care in the next update.

@dpate71 Compatibility matrix updated, thanks!

[2022-07-23 07:05] #119 closed

[2022-07-23 07:05] #118 closed

[2022-08-11 05:16] vincejv opened #121 "When replying to message threads, a new line is not inserted"
When this addon is active, when replying to message threads, a new line is not inserted, however when starting a new email from scratch a new line is inserted.
Might be related to #75, I think new Thunderbird versions compensate for the bug mentioned in #75, my suggestion is to have a setting for this or to detect the thunderbird version.

See the screenshot below with Thunderbird 102.1.2
### New

[2022-09-08 08:16] Unambiguous commented on #121
I confirm that a new line is missing at the beginning of the reply. However, this issue is slightly broader. If using plain text signatures, Thunderbird uses a specific format and style (namely "Preformat") for the signature. When I then add a new line manually, the new line inherits the text style from the signature which is different from a default text style.

![image](https://user-images.githu

[2022-09-09 03:29] netjeff commented on #121
I'm seeing similar symptoms.

[2022-10-04 13:49] Thaledwyn commented on #121
This happened to me after TB update from 91.x to 102.x

BUT it only appears on **forwarding** emails.
When replying, everything is ok.

[2022-10-10 15:00] jpl75 commented on #121
I have the issue on reply also.

Some more details on the issue.

My Thunderbird settings :

When I reply to a mail **without ReplyWithHeader**, the beginning of the mail is :

When I reply to a mail **with ReplyWithHeader**, the beginning of the mail is :

So apparenly the line above the signature is removed by ReplyWithHeader. Note : I made the test with all other extensions removed.

Thanks in

[2022-10-14 14:49] luizdl opened #122 "EWS automatic signature misplaced"
EWS automatic signature fails to identify mail separator, and then puts the signature on the end of the e-mail, or just after the signature of the person I'm replying.

I can avoid this inserting several underscore at the end of my message, for exemple _______________________________________.
Doing this, EWS identify it as the mail separator. But when using Outlook our Outlook Web, it puts a diffe

[2022-10-30 09:58] franck-tomek commented on #121
Same problem here, on all cases (reply / forward).

[2022-11-03 05:56] pztrn opened #123 "Per-account reply"
I have:

* Personal account which participates in mailing lists on which top posting considered harmful.
* Work account where correspondents uses top posting (just because 99% of them using Outlook).

It will be great if I'll be able to select account in settings for which ReplyWithHeaders extension is active.

[2022-11-11 10:28] jpl75 commented on #121
I tried to undo the changes done for #75. It corrected the issue for replies, not for forward.